
# Ignore everything
/*

# Unignore necessary files
!.shogun.zip
!package.json
!.editorconfig
!.env
!.eslintignore
!.eslintrc.js
!.npmrc
!.nvmrc
!.prettierignore
!.prettierrc.js
!/src
!alternate-paths-map.js
!tsconfig.json