/* ========== GLOBAL VAARIABLE ========== */
/* ========== LINK ========== */
/* ========== LIGHTEN AND DARKEN MODE ========== */
/* ========== FORM ========== */
/* ========== HEADING ========== */
/* ========== media mixin ========== */
/* ========== common mixin ========== */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
.d-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.align-v-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.align-start {
  -webkit-box-align: flex-start;
  -moz-box-align: flex-start;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.align-end {
  -webkit-box-align: flex-end;
  -moz-box-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.align-self-start {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.justify-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.justify-right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.justify-space {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex-direction {
  flex-direction: column;
  -webkit-flex-direction: column;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.img-large {
  max-width: 1025px;
}

.img-mid {
  max-width: 709px;
}

.img-small {
  max-width: 546px;
}

.padding-none {
  padding: 0 !important;
}

.margin-none {
  margin: 0 !important;
}

.list-none {
  list-style-type: none;
  margin: 0;
}

.text-shadow {
  color: #ffffff;
  text-shadow: 0px 0px 123.655px #FFFFFF, 0px 0px 70.6601px #FFFFFF, 0px 0px 41.2184px #FFFFFF, 0px 0px 20.6092px #FFFFFF, 0px 0px 5.88834px #FFFFFF, 0px 0px 2.94417px #FFFFFF;
  font-family: "Arimo", sans-serif;
  text-transform: capitalize;
}

* {
  box-sizing: border-box !important;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-family: "Inconsolata", monospace;
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  padding: 0;
  font-weight: 400;
  font-family: "Inconsolata", monospace;
  color: #ffffff;
}

body h1, body .h1, body h2, body .h2, body h3, body .h3, body h4, body .h4, body h5, body .h5, body h6, body .h6 {
  margin: 0 0 31px 0;
  padding: 0;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Arimo", sans-serif;
  color: #ffffff;
}
body h1, body .h1 {
  font-size: 40px;
}
body h2, body .h2 {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 15px;
}
@media screen and (max-width: 1279px) {
  body h2, body .h2 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 11px;
  }
}
body h3, body .h3 {
  font-size: 32px;
}
body h4, body .h4 {
  font-size: 28px;
}
body h5, body .h5 {
  font-size: 18px;
}
body h6, body .h6 {
  font-size: 16px;
}
body a {
  outline: none;
  text-decoration: none;
}
body p {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 24px;
  color: #ffffff;
  font-family: "Inconsolata", monospace;
}
@media screen and (max-width: 1279px) {
  body p {
    font-size: 13px;
    margin-bottom: 13px;
  }
}
body p:focus-visible {
  outline: none !important;
}

.body {
  width: 100%;
}

body .container {
  max-width: 1920px;
  margin: auto;
  width: 100%;
}

ul, ol {
  margin-left: 30px;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

address {
  font-style: normal;
  margin-bottom: 20px;
}

button, .btn, a {
  box-shadow: none !important;
}
button:focus, .btn:focus, a:focus {
  background: transparent !important;
}

button.btn[type=submit], .btn[type=submit] {
  all: unset;
  font-size: 16px;
  line-height: 16px;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  border: 1px solid #363636;
  border-radius: 79px;
  width: 178px;
  padding: 21px 10px;
  cursor: pointer;
}
button.btn[type=submit]:hover, .btn[type=submit]:hover {
  background-color: #ffffff;
  color: #000000;
}
button.btn[disabled], .btn[disabled] {
  cursor: not-allowed;
  background-color: transparent;
  color: #ffffff;
  opacity: 0.8;
}

input.chakra-input {
  all: unset;
  font-size: 16px;
  line-height: 16px;
  font-family: "Inconsolata", monospace;
  color: #FFFFFF;
  border-bottom: 1px solid #484848;
  border-radius: 0;
  padding: 0 35px 0 8px;
  width: 100%;
  min-height: 57px;
  background-color: transparent;
}
input.chakra-input:placeholder {
  font-size: 16px;
  line-height: 16px;
  font-family: "Inconsolata", monospace;
  color: #FFFFFF;
}
input.chakra-input:focus {
  border: 0 0 1px 0;
  box-shadow: none;
}

input:-internal-autofill-selected {
  background-color: red !important;
  background: 0 !important;
  appearance: none;
}

input:-ms-input-placeholder.chakra-input {
  font-size: 16px;
  line-height: 16px;
  font-family: "Inconsolata", monospace;
  color: #FFFFFF;
}

/* Common Structure box with bg for account pages Scss Starts. */
.absolute-heading {
  position: relative;
  width: 1030px;
}

.account-heading {
  font-size: 128px;
  line-height: 128px;
  letter-spacing: -0.02em;
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  mix-blend-mode: normal;
  text-shadow: 0px 0px 123.655px #FFFFFF, 0px 0px 70.6601px #FFFFFF, 0px 0px 41.2184px #FFFFFF, 0px 0px 20.6092px #FFFFFF, 0px 0px 5.88834px #FFFFFF, 0px 0px 2.94417px #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  right: -200px;
  /* bottom: 0; */
}

.bg-box {
  width: 1030px;
  margin: auto;
  border: 1px solid #363636;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 4px;
}

.bg-box-head {
  border-bottom: 1px solid #363636;
  /* margin-bottom: 90px; */
}

.bg-box-head .dots {
  justify-content: flex-end;
  margin: 13px 7px;
}

.bg-box-head span {
  border: 1px solid #444444;
  border-radius: 35px;
  width: 17px;
  height: 17px;
  margin-right: 7px;
}

/* Common Structure box with bg for account pages Scss End. */
.acc-or-signup {
  font-size: 15px;
  line-height: 15px;
  font-family: "Inconsolata";
  color: #8E8E8E;
  margin-top: 55px;
  text-align: center;
}
.acc-or-signup .chakra-link {
  color: #FFFFFf;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
.acc-or-signup .chakra-link:after {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='11' viewBox='0 0 15 11' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.421875 5.62891C0.421875 5.35276 0.645733 5.12891 0.921875 5.12891H14.0381C14.3143 5.12891 14.5381 5.35276 14.5381 5.62891C14.5381 5.90505 14.3143 6.12891 14.0381 6.12891H0.921875C0.645733 6.12891 0.421875 5.90505 0.421875 5.62891Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.43089 0.475016C8.61728 0.271267 8.93355 0.257193 9.13729 0.443582L14.4197 5.27587C14.5232 5.37059 14.5822 5.50446 14.5822 5.64479C14.5822 5.78513 14.5232 5.919 14.4197 6.01372L9.13729 10.846C8.93355 11.0324 8.61728 11.0183 8.43089 10.8146C8.2445 10.6108 8.25857 10.2946 8.46232 10.1082L13.3414 5.64479L8.46232 1.18142C8.25857 0.995035 8.2445 0.678765 8.43089 0.475016Z' fill='white'/%3E%3C/svg%3E");
  background-size: 14px 11px;
  width: 14px;
  height: 11px;
  margin-left: 10px;
}

.box-shadow:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 71px;
  opacity: 0.2;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, white 41%, rgba(0, 0, 0, 0)) 1;
  width: 345px;
  height: 1519px;
  z-index: 1;
}
@media screen and (max-width: 1279px) {
  .box-shadow:after {
    width: 160px;
    height: 609px;
  }
}

.slick-track {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media screen and (max-width: 767px) {
  .slick-track div {
    height: 701px;
  }
}
.slick-track div img {
  height: 990px;
  object-fit: cover;
  object-position: center;
}
@media screen and (max-width: 767px) {
  .slick-track div img {
    height: 701px;
  }
}
.slick-track div video {
  height: 990px;
}
@media screen and (max-width: 767px) {
  .slick-track div video {
    height: 701px;
  }
}

.bannerCarousel .slick-dots {
  bottom: 16px;
  left: 44px;
  right: auto;
  width: auto;
}
@media screen and (max-width: 767px) {
  .bannerCarousel .slick-dots {
    left: 17px;
  }
}
.bannerCarousel .slick-dots li {
  width: 8px;
  height: 8px;
  margin-left: 0;
  margin-right: 5px;
}
.bannerCarousel .slick-dots li button {
  width: 8px;
  height: 8px;
  padding: 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 56px;
}
.bannerCarousel .slick-dots li button:before {
  content: "";
  opacity: 1;
  width: 8px;
  height: 8px;
  line-height: 8px;
}
.bannerCarousel .slick-dots li.slick-active {
  width: 36px;
}
.bannerCarousel .slick-dots li.slick-active button {
  width: 36px;
  background-color: #ffffff;
}
.bannerCarousel .slick-dots li.slick-active button::before {
  width: 36px;
  background-color: #ffffff;
  border-radius: 56px;
}

#frontend-root {
  overflow: hidden;
}
#frontend-root header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
#frontend-root header .header-main {
  padding: 40px 33px 0 43px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#frontend-root header .css-168suyo {
  width: auto;
}
#frontend-root header img {
  margin: 0;
}

.header-left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header-left {
    width: 100%;
  }
}
.header-left a {
  max-width: 81px;
  max-height: 47px;
}
.header-left .logo-icon button {
  background: transparent;
}
.header-left .logo-icon button::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='82' height='47' viewBox='0 0 82 47' fill='none'%3E%3Cpath d='M42.4461 16.5077L44.6974 15.3391L45.9421 15.193L47.8091 14.134L41.6591 2.99609L39.7372 4.09163L39.0233 5.13238L36.0215 6.86698L34.9782 8.21813L32.2876 6.86698L31.9765 9.86143L30.2742 10.0075L27.1992 11.596L25.9363 11.6508L23.9961 12.6733L30.1461 23.8112L32.0497 22.807L32.8367 21.821L35.0332 20.5611L35.3992 18.8631C36.2961 18.9544 36.7903 19.9038 36.9184 20.1594L36.8269 21.0176L38.401 23.8843L38.9867 24.0486L42.6841 30.7496L42.8122 32.3016L43.4345 32.3381V33.671C43.4345 33.7806 43.5077 33.8536 43.6175 33.8536H50.6278C50.7742 33.8536 50.8474 33.7075 50.7925 33.5797L49.2184 30.7678L49.1818 30.6948L47.9189 29.8914L48.23 29.3437L46.9854 28.4125L43.2881 21.7114L43.4528 21.1272L41.8787 18.2605L41.0916 17.8771C40.9452 17.6397 40.4144 16.7268 40.8171 15.9051L42.4461 16.5077Z' fill='white'/%3E%3Cpath d='M55.8451 6.5931C51.6353 2.28401 45.9429 -0.0713865 39.9027 0.00164904C34.3018 0.0746846 28.9022 2.32053 24.9121 6.22793C20.6839 10.3544 18.3594 15.9051 18.3594 21.7845C18.3594 26.1118 19.6223 30.2384 21.9469 33.7623C21.9835 33.8171 22.0384 33.8536 22.0933 33.8536H24.2531C24.3996 33.8536 24.4911 33.6893 24.3996 33.5615C21.8188 30.1288 20.3362 25.838 20.4826 21.2002C20.7937 10.9205 29.1219 2.52137 39.4268 2.11968C50.6652 1.68146 59.9268 10.6831 59.9268 21.7845C59.9268 26.2031 58.4625 30.2749 55.9915 33.5615C55.9 33.6893 55.9915 33.8536 56.138 33.8536H58.2978C58.3527 33.8536 58.4259 33.8171 58.4442 33.7623C60.8237 30.1653 62.0866 25.9475 62.0317 21.5289C61.9585 15.9599 59.7438 10.5735 55.8451 6.5931Z' fill='white'/%3E%3Cpath d='M3.5875 34.8761H0V46.7626H3.5875V34.8761Z' fill='white'/%3E%3Cpath d='M15.0814 41.3397C15.5207 40.7189 15.7587 39.9338 15.7587 39.0209V38.9843C15.7587 37.8158 15.3926 36.8663 14.6787 36.1725C14.2578 35.7525 13.727 35.4421 13.1046 35.223C12.4823 35.0039 11.7136 34.8761 10.7984 34.8761H5.14258V46.7626H8.71178V43.2752H9.8466L12.1712 46.7626H16.3078L13.4707 42.6361C14.1479 42.3257 14.697 41.8875 15.0814 41.3397ZM8.74838 38.0166H10.652C11.1462 38.0166 11.5305 38.1079 11.8051 38.3088C12.0613 38.4914 12.1895 38.7835 12.1895 39.1852V39.2217C12.1895 39.5869 12.0613 39.8608 11.8234 40.0799C11.5671 40.299 11.1645 40.4085 10.6703 40.4085H8.74838V38.0166Z' fill='white'/%3E%3Cpath d='M27.0896 36.4281C26.5405 35.8803 25.8632 35.4421 25.0762 35.1135C24.2891 34.7848 23.4289 34.6205 22.532 34.6205C21.6351 34.6205 20.7748 34.7848 19.9878 35.1135C19.2007 35.4421 18.5235 35.8621 17.9561 36.4281C17.3704 36.9941 16.9128 37.6515 16.6016 38.4001C16.2722 39.1669 16.1074 39.9703 16.1074 40.8102V40.8468C16.1074 41.6867 16.2722 42.4535 16.6016 43.2387C16.9128 43.9873 17.3704 44.6446 17.9378 45.1924C18.4869 45.7401 19.1641 46.1784 19.9512 46.507C20.7382 46.8357 21.5985 47 22.4954 47C23.3922 47 24.2525 46.8357 25.0396 46.507C25.8266 46.1784 26.5039 45.7584 27.0713 45.1924C27.657 44.6263 28.1146 43.969 28.4257 43.2204C28.7552 42.4535 28.9199 41.6502 28.9199 40.8102V40.7737C28.9199 39.9338 28.7552 39.1669 28.4257 38.3818C28.1146 37.6332 27.657 36.9759 27.0896 36.4281ZM21.3606 38.1079C21.7083 37.9436 22.0927 37.8706 22.4954 37.8706C22.8981 37.8706 23.2824 37.9436 23.6302 38.1079C23.9963 38.2723 24.3074 38.4914 24.5271 38.7287C24.765 39.0026 24.9664 39.313 25.0945 39.6599C25.2409 40.0251 25.2958 40.3903 25.2958 40.7737V40.8102C25.2958 41.2119 25.2226 41.5954 25.0945 41.924C24.9664 42.271 24.7833 42.5631 24.5271 42.8552C24.2891 43.1109 24.0146 43.33 23.6485 43.476C22.9347 43.7864 22.0927 43.7864 21.3789 43.476C21.0311 43.3117 20.7382 43.1109 20.5003 42.8552C20.2623 42.5814 20.061 42.271 19.9329 41.924C19.7864 41.5589 19.7315 41.1937 19.7315 40.8102V40.7737C19.7315 40.3355 19.7864 39.9703 19.9146 39.6599C20.061 39.2948 20.244 38.9844 20.482 38.7287C20.7565 38.4548 21.0311 38.254 21.3606 38.1079Z' fill='white'/%3E%3Cpath d='M37.54 40.6094L33.0556 34.8761H29.7793V46.7626H33.2936V40.792L37.961 46.7626H41.0543V34.8761H37.54V40.6094Z' fill='white'/%3E%3Cpath d='M51.1029 40.4451C50.7551 40.1895 50.3159 39.9521 49.6935 39.733C49.1627 39.5504 48.5587 39.3861 47.8815 39.24L47.8266 39.2218C47.4422 39.1305 47.1493 39.0757 46.9114 38.9844C46.6368 38.9113 46.4721 38.8383 46.3623 38.7653C46.1976 38.6557 46.1426 38.6009 46.1243 38.5644C46.0694 38.4549 46.0511 38.3818 46.0511 38.2905V38.254C46.0511 38.0897 46.106 37.9801 46.2708 37.8706C46.4172 37.761 46.6734 37.688 47.0212 37.688C47.5337 37.688 48.0645 37.7793 48.577 37.9801C49.0895 38.1445 49.5837 38.4001 50.1511 38.8018L50.2976 38.9113L52.0913 36.3551L51.9632 36.2456C51.3042 35.716 50.6087 35.3326 49.8034 35.0587C48.998 34.8031 48.1011 34.6753 47.0944 34.6753C46.3806 34.6753 45.74 34.7666 45.1726 34.9674C44.5868 35.1683 44.0926 35.4239 43.7083 35.7708C43.2873 36.1177 42.9761 36.5194 42.7565 37.0124C42.5368 37.5054 42.427 38.0349 42.427 38.5644V38.601C42.427 39.2218 42.5368 39.733 42.7748 40.1712C42.9944 40.5912 43.3239 40.9381 43.7449 41.2302C44.1475 41.5224 44.6234 41.7415 45.1726 41.9058C45.7583 42.1067 46.3806 42.2527 46.9114 42.3805C47.3141 42.4718 47.6069 42.5449 47.8632 42.6362L47.9364 42.6544C48.1377 42.7275 48.3025 42.8005 48.4123 42.8735C48.5404 42.9466 48.6319 43.0013 48.6502 43.0744C48.7051 43.1657 48.7234 43.2387 48.7234 43.33V43.3665C48.7234 43.5491 48.6502 43.6769 48.4855 43.7865C48.2659 43.896 47.9547 43.9691 47.5886 43.9691C46.3074 43.9691 45.081 43.5126 43.9462 42.6179L43.7998 42.5083L41.8047 44.9185L41.9328 45.0281C42.6467 45.6671 43.5069 46.1601 44.477 46.507C45.4471 46.8357 46.4538 47 47.4788 47C48.2292 47 48.8882 46.8905 49.4739 46.6896C50.0779 46.507 50.5904 46.2514 50.9931 45.9228C51.4141 45.5941 51.7618 45.1741 51.9998 44.6812C52.2377 44.2064 52.3476 43.6404 52.3476 43.0379V43.0013C52.3476 42.4171 52.2377 41.9241 52.0364 41.5224C51.7985 41.1024 51.5056 40.7372 51.1029 40.4451Z' fill='white'/%3E%3Cpath d='M57.0348 34.8761H53.4473V46.7626H57.0348V34.8761Z' fill='white'/%3E%3Cpath d='M68.2908 36.5011C67.6868 35.9716 66.9729 35.5699 66.1859 35.296C65.3439 35.0039 64.3921 34.8578 63.3671 34.8578H58.7363V46.7443H63.3122C64.3738 46.7443 65.3073 46.5982 66.1493 46.2878C66.9912 45.9957 67.6868 45.594 68.2725 45.0462C68.8582 44.4985 69.3158 43.8594 69.5904 43.1473C69.9015 42.3987 70.0479 41.6318 70.0479 40.7554V40.7554C70.0479 39.8972 69.9015 39.0938 69.5904 38.3817C69.2975 37.6697 68.8582 37.0489 68.2908 36.5011ZM66.4238 40.8102V40.8467C66.4238 41.7231 66.1493 42.3804 65.6185 42.8552C65.0694 43.3299 64.3189 43.5673 63.4037 43.5673H62.2872V38.0713H63.4037C64.3372 38.0713 65.0511 38.3087 65.6002 38.8017C66.1493 39.2582 66.4238 39.952 66.4238 40.8102Z' fill='white'/%3E%3Cpath d='M74.8256 43.6769V42.2162H80.3715V39.3495H74.8256V37.9619H80.9389V34.8761H71.293V46.7626H81.0122V43.6769H74.8256Z' fill='white'/%3E%3C/svg%3E");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 81px;
  height: 47px;
}
.header-left img {
  display: none;
}

.header-icon {
  margin-right: 60px;
}

header .nav-links {
  padding-left: 60px;
}
header .nav-links .css-r6z5ec {
  transform: none !important;
  inset: 87px auto auto !important;
}

.mobile-menu div div {
  background-color: #000000;
}

header .nav-links-btn,
.mobile-menu .nav-links-btn {
  all: unset;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  opacity: 0.8;
  font-weight: 700;
  font-family: "Arimo", sans-serif;
  margin: 0;
  padding-right: 45px;
  position: relative;
}
@media screen and (max-width: 1279px) {
  header .nav-links-btn,
  .mobile-menu .nav-links-btn {
    padding-right: 25px;
  }
}
@media screen and (max-width: 767px) {
  header .nav-links-btn,
  .mobile-menu .nav-links-btn {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 0;
    width: 100%;
    margin-top: 33px;
    margin-bottom: 33px;
    display: block;
    opacity: 1;
  }
  header .nav-links-btn p.chakra-text,
  .mobile-menu .nav-links-btn p.chakra-text {
    all: unset;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
  }
}
header .nav-links-btn:focus,
.mobile-menu .nav-links-btn:focus {
  background: transparent;
  box-shadow: none;
  text-decoration: none;
}
header .nav-links-btn:hover,
.mobile-menu .nav-links-btn:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 1;
}
header .nav-links-btn:hover::before,
.mobile-menu .nav-links-btn:hover::before {
  display: block;
}
header .nav-links-btn[aria-expanded=true],
.mobile-menu .nav-links-btn[aria-expanded=true] {
  opacity: 1;
}
header .nav-links-btn[aria-expanded=true] span::before,
.mobile-menu .nav-links-btn[aria-expanded=true] span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  left: -12px;
}
header .nav-links-btn::before,
.mobile-menu .nav-links-btn::before {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  left: -12px;
}
header .nav-links-btn .chakra-text,
.mobile-menu .nav-links-btn .chakra-text {
  font-size: 13px;
  line-height: 13px;
}
header .nav-links-btn svg,
.mobile-menu .nav-links-btn svg {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-right {
    display: none;
  }
}
.header-right a {
  background-color: transparent;
  color: #ffffff;
  margin: 0 0 0 16px !important;
}
.header-right a svg {
  width: auto;
  stroke: #ffffff;
}
.header-right a.usdIcon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 43px;
  height: 22px;
  border: 1px solid #ffffff;
  border-radius: 32px;
}
.header-right a.usdIcon:hover {
  text-decoration: none;
}
.header-right a.usdIcon span {
  font-size: 12px;
  line-height: 12px;
  text-transform: capitalize;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
}
.header-right .cart::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewBox='0 0 20 18' fill='none'%3E%3Cpath d='M5.3252 11.975L3.6377 3.875H17.8127C18.6002 3.875 19.0502 4.55 18.9377 5.225L17.3627 12.0875C17.1377 12.9875 16.3502 13.6625 15.4502 13.775H7.8002C6.5627 13.8875 5.5502 13.1 5.3252 11.975Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.6375 3.875L2.85 0.5H0.9375' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.2371 16.5875C16.0121 16.5875 15.7871 16.8125 15.7871 17.0375C15.7871 17.2625 16.0121 17.4875 16.2371 17.4875C16.4621 17.4875 16.6871 17.2625 16.6871 17.0375C16.6871 16.7 16.4621 16.5875 16.2371 16.5875Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.78789 16.5875C6.56289 16.5875 6.33789 16.8125 6.33789 17.0375C6.33789 17.2625 6.56289 17.4875 6.78789 17.4875C7.01289 17.4875 7.23789 17.2625 7.23789 17.0375C7.23789 16.7 7.01289 16.5875 6.78789 16.5875Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  display: block;
}
.header-right .cart img {
  display: none;
}
.header-right .account:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='18' viewBox='0 0 16 18' fill='none'%3E%3Cpath d='M0.912109 16.75C0.912109 14.294 2.97169 12.303 5.51229 12.303H10.7942C13.3348 12.303 15.3943 14.294 15.3943 16.75' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.262 1.9948C12.9789 3.65453 12.9789 6.34548 11.262 8.00521C9.54505 9.66494 6.76141 9.66494 5.04451 8.00521C3.32761 6.34548 3.32761 3.65453 5.04451 1.9948C6.76141 0.335068 9.54505 0.335068 11.262 1.9948' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  display: block;
}
.header-right .account img {
  display: none;
}
.header-right .volume {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 50%;
  margin-left: 21px !important;
}
.header-right .volume:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M3.875 4.62498H1.5C0.948 4.62498 0.5 5.07298 0.5 5.62498V10.375C0.5 10.927 0.948 11.375 1.5 11.375H3.875L7.854 14.746C8.504 15.297 9.5 14.835 9.5 13.983V2.01698C9.5 1.16498 8.503 0.702982 7.854 1.25398L3.875 4.62498V4.62498Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.5371 11.978C14.6991 11.256 15.5001 9.75397 15.5001 8.00497C15.5001 6.25597 14.6991 4.75297 13.5371 4.02197' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  display: block;
}
.header-right .volume img {
  display: none;
}

header [role=menu] {
  background: transparent;
  width: 1110px;
  background: #101010;
  border: 1px solid #363636;
  box-shadow: 8px 12px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 0;
  margin: auto;
}
header [role=menu] > div {
  background-size: 100% 100%;
  border-radius: 4px;
}
header [role=menu] .menu-description {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  padding: 70px 56px 70px 70px;
  width: 376px;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(20px);
  min-height: 489px;
}
header [role=menu] .menu-description:after {
  content: "";
  display: inline-block;
  height: 404px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border-right: 1px solid #363636;
}
header .chakra-menu__menuitem {
  all: unset;
  margin-bottom: 38px;
  cursor: pointer;
}
header .chakra-menu__menuitem:hover {
  text-decoration: none;
  background-color: transparent;
}
header .chakra-menu__menuitem:hover .sub-menu-heading {
  text-shadow: 0px 0px 123.655px #FFFFFF, 0px 0px 70.6601px #FFFFFF, 0px 0px 41.2184px #FFFFFF, 0px 0px 20.6092px #FFFFFF, 0px 0px 5.88834px #FFFFFF, 0px 0px 2.94417px #FFFFFF;
}
header .chakra-menu__menuitem:focus {
  background: transparent;
  box-shadow: none;
  text-decoration: none;
}
header .chakra-menu__menuitem .sub-menu-heading {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Arimo", sans-serif;
  font-weight: 700;
}
header .chakra-menu__menuitem .sub-menu-desc {
  font-size: 14px;
  line-height: 17px;
  color: #969696;
  font-family: "Inconsolata", monospace;
  font-weight: 500;
  display: block;
}

.shg-sld-dots {
  position: absolute;
  bottom: 56px;
}
.shg-sld-dots .shg-sld-dot {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 56px;
}
.shg-sld-dots .shg-sld-dot .shg-sld-active {
  width: 36px;
  background-color: #ffffff;
}
.shg-sld-dots div + div {
  margin-right: 5px;
}

.css-1yxoe2e {
  background-color: #000000;
  border: 0;
}

@media screen and (max-width: 1279px) {
  .mobile-menu > div {
    width: 100%;
    transform: 0 !important;
    padding: 0;
    height: 100vw;
  }
  .mobile-menu > div > div {
    padding: 40px;
  }
  .mobile-menu > div .chakra-menu__menuitem {
    color: #ffffff;
    padding: 5px 10px;
  }
}

.sb-show-main.sb-main-centered #root {
  padding: 0;
  margin: 0;
  width: 100%;
}

.chakra-menu__menu-button svg {
  visibility: hidden;
}
.chakra-menu__menu-button:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='11' viewBox='0 0 15 11' fill='none'%3E%3Cpath d='M4.5625 10.125H13.9583' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.125 0.5H13.9583' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.125 5.3125H13.9583' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 100%;
  width: 13px;
  height: 10px;
}

#frontend-root {
  background-color: #000000;
}

.bg-box form {
  padding: 90px;
  margin: 0;
  min-height: 664px;
  min-width: 631px;
}

.bannerCarousel {
  width: 100%;
  position: relative;
}
.bannerCarousel img {
  width: 100%;
}
.bannerCarousel video {
  width: 100%;
  object-fit: cover;
}
.bannerCarousel.box-shadow:after {
  margin-top: -176px;
}

.section2 {
  max-width: 643px;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  margin-right: 400px;
}

.block-quote {
  max-width: 644px;
  width: 100%;
  position: relative;
  margin-top: 290px;
  margin-left: auto;
  margin-right: 443px;
  margin-bottom: 233px;
}
@media screen and (max-width: 1279px) {
  .block-quote {
    padding: 173px 30px 0;
  }
}
.block-quote p {
  margin: 0;
}
.block-quote .right {
  text-align: right;
}
.block-quote .left {
  text-align: left;
}

body .container + .container.boxes .boxess {
  position: relative;
  margin-top: 135px;
}
body .container + .container.boxes .boxess:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 71px;
  opacity: 0.2;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, white 41%, rgba(0, 0, 0, 0)) 1;
  width: 345px;
  height: 1519px;
  z-index: 1;
}
@media screen and (max-width: 1279px) {
  body .container + .container.boxes .boxess:after {
    width: 160px;
    height: 609px;
  }
}
body .container + .container.boxes .boxess:after {
  top: 0;
  right: 202px;
}
body .container + .container.boxes .boxess .block-quote {
  padding-top: 42px;
  margin-top: 0;
  margin-right: 626px;
  margin-bottom: 216px;
}

.block-quote-shadow {
  position: relative;
}
.block-quote-shadow:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 71px;
  opacity: 0.2;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, white 41%, rgba(0, 0, 0, 0)) 1;
  width: 345px;
  height: 1519px;
  z-index: 1;
}
@media screen and (max-width: 1279px) {
  .block-quote-shadow:after {
    width: 160px;
    height: 609px;
  }
}
.block-quote-shadow:after {
  top: 0;
  left: 287px;
  right: auto;
}
.block-quote-shadow .block-quote {
  margin-top: 202px;
  margin-left: 577px;
  margin-bottom: 578px;
  padding-top: 112px;
}

.cta-banner {
  z-index: 1;
  width: 100%;
}
@media screen and (max-width: 1279px) {
  .cta-banner {
    padding: 24px;
  }
}
@media screen and (max-width: 1279px) {
  .cta-banner img {
    width: 100%;
  }
}
.cta-banner > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.cta-banner .cta-content {
  position: relative;
  z-index: 1;
}
.cta-banner .layout-1 {
  justify-content: flex-start;
  padding: 0 105px;
  margin-bottom: 121px;
}
.cta-banner .layout-1 .large-img {
  max-width: 1020px;
  width: 100%;
}
.cta-banner .layout-1 .content-bottom {
  margin-bottom: 61px;
  margin-top: auto;
}
.cta-banner .layout-1 .content-left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.cta-banner .layout-1 .content-left .cta-content {
  text-align: left;
  margin-left: -68px;
  padding-left: 41px;
}
.cta-banner .layout-2 {
  justify-content: flex-start;
  margin-left: 181px;
  background-size: 100%;
  background-position: center;
}
.cta-banner .layout-2 .small-img {
  max-width: 535px;
  width: 100%;
}
.cta-banner .layout-2 .content-top {
  margin-top: 61px;
  margin-bottom: auto;
}
.cta-banner .layout-2 .content-left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.cta-banner .layout-2 .content-left .cta-content {
  text-align: left;
  margin-left: -41px;
}
.cta-banner .layout-3 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 276px;
  margin-top: -216px;
}
.cta-banner .layout-3 .mid-img {
  max-width: 709px;
  width: 100%;
}
.cta-banner .layout-3 .content-bottom {
  margin-bottom: 61px;
  margin-top: auto;
}
.cta-banner .layout-3 .content-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cta-banner .layout-3 .content-right .cta-image {
  order: 1;
}
.cta-banner .layout-3 .content-right .cta-content {
  z-index: 1;
  text-align: right;
  margin-right: -41px;
}
.cta-banner .layout-4 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 186px;
  z-index: 2;
}
.cta-banner .layout-4 .small-img {
  max-width: 535px;
  width: 100%;
}
.cta-banner .layout-4 .content-top {
  margin-top: 61px;
  margin-bottom: auto;
}
.cta-banner .layout-4 .content-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cta-banner .layout-4 .content-right .cta-image {
  order: 1;
}
.cta-banner .layout-4 .content-right .cta-content {
  text-align: right;
  margin-right: -41px;
}
.cta-banner .layout-5 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 358px;
}
.cta-banner .layout-5 .small-img {
  max-width: 535px;
  width: 100%;
}
.cta-banner .layout-5 .content-bottom {
  margin-bottom: 61px;
  margin-top: auto;
}
.cta-banner .layout-5 .content-left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cta-banner .layout-5 .content-left .cta-content {
  text-align: left;
  margin-left: -41px;
}
.cta-banner p:last-child {
  margin: 0;
}

.cta-content {
  max-width: 452px;
  z-index: 1;
}
@media screen and (max-width: 1279px) {
  .cta-content {
    width: 100%;
    padding-left: 22px;
  }
}
.cta-content a:hover:after {
  transform: translateX(10px);
  transition: all 0.4s ease;
}
.cta-content a {
  transition: all 0.4s ease;
}
.cta-content a:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='13' viewBox='0 0 16 13' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.798828 6.6367C0.798828 6.26113 1.10329 5.95667 1.47887 5.95667H15.0706C15.4461 5.95667 15.7506 6.26113 15.7506 6.6367C15.7506 7.01228 15.4461 7.31674 15.0706 7.31674H1.47887C1.10329 7.31674 0.798828 7.01228 0.798828 6.6367Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.15216 0.841609C9.41438 0.572723 9.84492 0.567315 10.1138 0.82953L15.5877 6.16758C15.7189 6.29556 15.7929 6.47112 15.7929 6.65444C15.7929 6.83776 15.7189 7.01331 15.5877 7.1413L10.1138 12.4793C9.84492 12.7416 9.41438 12.7362 9.15216 12.4673C8.88995 12.1984 8.89535 11.7678 9.16424 11.5056L14.1388 6.65444L9.16424 1.80325C8.89535 1.54104 8.88995 1.11049 9.15216 0.841609Z' fill='white'/%3E%3C/svg%3E");
  background-size: 100%;
  width: 15px;
  height: 12px;
  display: inline-block;
  margin-left: 10px;
}

.cta-banner-v2 .cta-content {
  margin-right: -42px;
}

.slid {
  width: 100%;
}
.slid div {
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
}
.slid .bg-img {
  background-repeat: no-repeat;
}

.productSlider {
  width: 100%;
  margin-left: auto;
  margin-right: 262px;
  max-width: 1244px;
  padding-top: 89px;
  padding-left: 103px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to left, #9b9b9b 41%, #1a1a1a) 1;
}
.productSlider .product-card {
  max-width: 364px;
  max-height: 440px;
  border-radius: 6.615px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 28px;
}
.productSlider .product-card img {
  height: auto;
}
.productSlider .product-content {
  padding: 28px 0 0 36px;
}
.productSlider .product-content h3 {
  font-size: 26.46px;
  line-height: 26.46px;
  margin-bottom: 5px;
}
.productSlider .product-content p {
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  margin-bottom: 0;
}
.productSlider .product-content img {
  margin-top: -78px;
  padding-left: 50px;
}
.productSlider .product-content .productCardImage {
  margin-top: 22px;
}
.productSlider .product-content .productCardImage p {
  font-family: "Ramabhadra", sans-serif;
  margin-bottom: 10px;
}
.productSlider .product-content .productCardImage p:last-child {
  margin-bottom: 0;
}
.productSlider .product-content .productCardImage a {
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  position: relative;
  z-index: 1;
  transition: all 0.4s ease;
}
.productSlider .product-content .productCardImage a:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='13' viewBox='0 0 16 13' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.798828 6.6367C0.798828 6.26113 1.10329 5.95667 1.47887 5.95667H15.0706C15.4461 5.95667 15.7506 6.26113 15.7506 6.6367C15.7506 7.01228 15.4461 7.31674 15.0706 7.31674H1.47887C1.10329 7.31674 0.798828 7.01228 0.798828 6.6367Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.15216 0.841609C9.41438 0.572723 9.84492 0.567315 10.1138 0.82953L15.5877 6.16758C15.7189 6.29556 15.7929 6.47112 15.7929 6.65444C15.7929 6.83776 15.7189 7.01331 15.5877 7.1413L10.1138 12.4793C9.84492 12.7416 9.41438 12.7362 9.15216 12.4673C8.88995 12.1984 8.89535 11.7678 9.16424 11.5056L14.1388 6.65444L9.16424 1.80325C8.89535 1.54104 8.88995 1.11049 9.15216 0.841609Z' fill='white'/%3E%3C/svg%3E");
  background-size: 100%;
  width: 15px;
  height: 12px;
  display: inline-block;
  margin-left: 10px;
}
.productSlider .product-content .productCardImage a:hover:after {
  transform: translateX(10px);
  transition: all 0.4s ease;
}
.productSlider button.slick-arrow.slick-prev {
  display: none !important;
}
.productSlider button.slick-arrow.slick-next {
  top: -33px;
  left: auto;
  right: 38px;
  width: 74px;
}
.productSlider button.slick-arrow.slick-next:before {
  content: "Slide";
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  font-family: "Arimo", sans-serif;
  opacity: 1;
  margin-right: 10px;
}
.productSlider button.slick-arrow.slick-next:after {
  content: "";
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='13' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.799 6.637a.68.68 0 0 1 .68-.68H15.07a.68.68 0 0 1 0 1.36H1.479a.68.68 0 0 1-.68-.68Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.152.842a.68.68 0 0 1 .962-.012l5.474 5.338a.68.68 0 0 1 0 .973l-5.474 5.338a.68.68 0 1 1-.95-.973l4.975-4.852-4.975-4.85a.68.68 0 0 1-.012-.962Z' fill='%23fff'/%3E%3C/svg%3E");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 15px;
  height: 12px;
  display: inline-flex;
}

.footer {
  margin-bottom: 32px;
}
.footer div {
  justify-content: center;
}

.footerIcons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.footerIcons [aria-label=Twitter] {
  width: 29px;
  height: 29px;
}
.footerIcons a {
  margin: 0 12px;
}

.footerText {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 20px;
}
.footerText p {
  font-size: 12px;
  line-height: 12px;
  color: #737373;
  margin: 0;
}

/*# sourceMappingURL=global.css.map */
