.account-page {
    .account-heading {
          
    }
    form {
        > div {
            margin-bottom: 33px;
        }
    }
}
.contact-us {
    max-width: 1228px;
    .box-form {
        max-width: 664px;
    }
}