// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

* {
    box-sizing: border-box;
}

html { -webkit-font-smoothing:antialiased; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; scroll-behavior: smooth; }

body {
    -webkit-font-smoothing: subpixel-antialiased; 
    -moz-osx-font-smoothing: auto; padding: 0;
    font-weight: 400;  
    font-size: 14px;

    @include vw{
        font-size: get-vw(28px);
    }

    &.hasAdminBar {
        & > * {
            margin-top: 0 !important;
        }
    }

}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    margin: 0 0 30px 0; padding: 0; font-weight: 600; 
    text-decoration: none;
    text-transform: uppercase;
    font-family: $heading-fonts;
    @include vw{
        margin: 0 0 get-vw(60px) 0;
    }
}

h1, .h1{
    font-size: 40px;

    @include vw{
        font-size: get-vw(80px);
    }
}
h2, .h2{
    font-size: 40px;

    @include vw{
        font-size: get-vw(80px);
    }
}
h3, .h3{
    font-size: 32px;

    @include vw{
        font-size: get-vw(64px);
    }
}
h4, .h4{
    font-size: 28px;

    @include vw{
        font-size: get-vw(56px);
    }
}
h5, .h5{
    font-size: 18px;

    @include vw{
        font-size: get-vw(36px);
    }
}
h6, .h6{
    font-size: 16px;

    @include vw{
        font-size: get-vw(32px);
    }
}
  
a{
    outline: none; text-decoration: none;
    // color: $theme-link;
    // &:hover, &:focus{
    //     color: $theme-link-hover;
    // }
}

p{
    margin-bottom: 20px; line-height: 21px;

    @include vw{
        line-height: get-vw(42px); margin-bottom: get-vw(40px);
    }

    &:focus-visible{
        outline: none !important;
    }
}

ul, ol{ 
    margin-left: 30px; margin-bottom: 30px; 

    @include vw{
        margin-left: get-vw(60px); margin-bottom: get-vw(60px);
    }
}

img{ max-width: 100%; vertical-align: middle; }

address{
    font-style: normal; margin-bottom: 20px;

    @include vw{
        margin-bottom: get-vw(40px);
    }
}

/* ========== COMMON CLASS ========== */

.d-flex{
    @include display-flex(flex);
}
.align-v-center{
    @include align-item(center);
}
.align-start{
    @include align-item(flex-start);
}
.align-end{
    @include align-item(flex-end);
}
.align-self-start{
    @include align-self(flex-start);
}
.justify-center{
    @include justify-content(center);
}
.justify-right{
    @include justify-content(flex-end);
}
.justify-space{
    @include justify-content(space-between);
}
.flex-wrap{
    @include flex-wrap(wrap);
}
.flex-direction{
    @include flex-direction(column);
}

.text-left{ text-align: left; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }
  
.padding-none{
    padding: 0 !important;
}

.margin-none{
    margin: 0 !important;
}

/* Common box with bg for account pages. */
.account-heading {
    font-size: 128px;
    line-height: 128px;
    letter-spacing: -0.02em;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-shadow: 0px 0px 123.655px #FFFFFF, 0px 0px 70.6601px #FFFFFF, 0px 0px 41.2184px #FFFFFF, 0px 0px 20.6092px #FFFFFF, 0px 0px 5.88834px #FFFFFF, 0px 0px 2.94417px #FFFFFF;
    text-transform: uppercase;
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    right: 125px;
    /* bottom: 0; */
}
.bg-box {
  width: 1030px;
  margin: auto;
  border: 1px solid #363636;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 4px;
}
.bg-box-head {
    border-bottom: 1px solid #363636;
    /* margin-bottom: 90px; */
}
.bg-box-head .dots {
    justify-content: flex-end;
    margin: 13px 7px;
}

.bg-box-head span {
    border: 1px solid #444444;
    border-radius: 35px;
    width: 17px;
    height: 17px;
    margin-right: 7px;
}