// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

* {
  box-sizing: border-box !important;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-family: $body-fonts;
  font-size: 62.5%;
}
#__next {
    overflow: hidden;
}
body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  padding: 0;
  font-weight: 400;
  font-family: $body-fonts;
  color: $color-white;
}
body {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    margin: 0 0 31px 0;
    padding: 0;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $heading-fonts;
    color: $color-white;
  }
  h1,
  .h1 {
    font-size: 40px;
  }
  h2,
  .h2 {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 15px;
    @include desktop-small {
      font-size: 24px;
      line-height: 24px;
    }
    @include tablet {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 11px;
    }
  }
  h3,
  .h3 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 17px;
  }
  h4,
  .h4 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  h5,
  .h5 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  h6,
  .h6 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  a {
    outline: none;
    text-decoration: none;
    // color: $theme-link;
    // &:hover, &:focus{
    //     color: $theme-link-hover;
    // }
  }

  p {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    color: $color-white;
    font-family: $body-fonts;
    @include desktop-small {
      font-size: 15px;
      line-height: 15px;
    }
    @include tablet {
      font-size: 13px;
      margin-bottom: 13px;
    }

    &:focus-visible {
      outline: none !important;
    }
  }
  ul li {
    font-size: 15px;
    line-height: 15px;
    color: $color-white;
  }
  a {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: $color-white;
    font-family: $body-fonts;
  }
}
.body {
  width: 100%;
}
body {
    .container {
        max-width: 1920px;
        margin: auto;
        width: 100%;
        @media screen and (min-width: 1921px) {
            max-width: 87.273vw;
        }
        @include desktop-small {
            max-width: 1440px;
        }
        @include tablet {
            max-width: none;
        }
    }
    .container-2 {
        max-width: 1920px;
        padding: 0 90px;
        margin: auto;
        width: 100%;
        @media screen and (min-width: 1921px) {
            max-width: 87.273vw;
        }
        @include desktop-small {
            padding: 0 45px;
        }
        @include tablet {
            max-width: none;
        }
    }
}

ul,
ol {
  margin-left: 30px;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

address {
  font-style: normal;
  margin-bottom: 20px;
}

button,
.btn,
a,
img {
  box-shadow: none !important;
  &:focus-visible {
    outline: none !important;
  }
  &:focus {
    background: transparent !important;
  }
}

// Button Style
button.btn,
.btn {
  all: unset;
  font-size: 16px;
  line-height: 16px;
  font-family: $body-fonts;
  font-weight: 400;
  color: $color-white;
  text-align: center;
  border: 1px solid #363636;
  border-radius: 79px;
  width: 178px;
  padding: 21px 10px;
  cursor: pointer;
  &:hover {
    background-color: $color-white;
    color: $color-black;
  }
  &[disabled] {
    cursor: not-allowed;
    background-color: transparent;
    color: $color-white;
    opacity: 0.8;
  }
}
body .btn-2 {
  all: unset;
  font-size: 16px;
  line-height: 16px;
  font-family: $body-fonts;
  font-weight: 400;
  color: $color-white;
  text-align: center;
  // border: 1px solid #363636;
  // border-radius: 79px;
  // width: 178px;
  // padding: 21px 10px;
  cursor: pointer;
  transition: all 0.4s ease;
  &:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='13' viewBox='0 0 16 13' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.798828 6.6367C0.798828 6.26113 1.10329 5.95667 1.47887 5.95667H15.0706C15.4461 5.95667 15.7506 6.26113 15.7506 6.6367C15.7506 7.01228 15.4461 7.31674 15.0706 7.31674H1.47887C1.10329 7.31674 0.798828 7.01228 0.798828 6.6367Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.15216 0.841609C9.41438 0.572723 9.84492 0.567315 10.1138 0.82953L15.5877 6.16758C15.7189 6.29556 15.7929 6.47112 15.7929 6.65444C15.7929 6.83776 15.7189 7.01331 15.5877 7.1413L10.1138 12.4793C9.84492 12.7416 9.41438 12.7362 9.15216 12.4673C8.88995 12.1984 8.89535 11.7678 9.16424 11.5056L14.1388 6.65444L9.16424 1.80325C8.89535 1.54104 8.88995 1.11049 9.15216 0.841609Z' fill='white'/%3E%3C/svg%3E");
    background-size: 100%;
    width: 15px;
    height: 12px;
    display: inline-block;
    margin-left: 10px;
  }
  &:hover {
    &:after {
      transform: translateX(10px);
      transition: all 0.4s ease;
    }
  }
  &[disabled] {
    cursor: not-allowed;
    background-color: transparent;
    color: $color-white;
    opacity: 0.8;
  }
}

// Input Style
input.chakra-input {
  all: unset;
  font-size: 16px;
  line-height: 16px;
  font-family: 'Inconsolata', monospace;
  color: #ffffff;
  border-bottom: 1px solid #484848;
  border-radius: 0;
  padding: 0 35px 0 8px;
  width: 100%;
  min-height: 57px;
  background-color: transparent;
  &:placeholder {
    font-size: 16px;
    line-height: 16px;
    font-family: 'Inconsolata', monospace;
    color: #ffffff;
  }
  &:focus {
    border: 0 0 1px 0;
    box-shadow: none;
  }
}
input:-internal-autofill-selected {
  background-color: red !important;
  background: 0 !important;
  appearance: none;
}
input:-ms-input-placeholder.chakra-input {
  font-size: 16px;
  line-height: 16px;
  font-family: 'Inconsolata', monospace;
  color: #ffffff;
}

/* Common Structure box with bg for account pages Scss Starts. */
.absolute-heading {
  position: relative;
  width: 1030px;
}
.account-heading {
  font-size: 128px;
  line-height: 128px;
  letter-spacing: -0.02em;
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  color: #ffffff;
  mix-blend-mode: normal;
  text-shadow: 0px 0px 123.655px #ffffff, 0px 0px 70.6601px #ffffff, 0px 0px 41.2184px #ffffff,
    0px 0px 20.6092px #ffffff, 0px 0px 5.88834px #ffffff, 0px 0px 2.94417px #ffffff;
  text-transform: uppercase;
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  right: -200px;
  /* bottom: 0; */
}
.bg-box {
  width: 1030px;
  margin: auto;
  border: 1px solid #363636;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 4px;
}
.bg-box-head {
  border-bottom: 1px solid #363636;
  /* margin-bottom: 90px; */
}
.bg-box-head .dots {
  justify-content: flex-end;
  margin: 13px 7px;
}

.bg-box-head span {
  border: 1px solid #444444;
  border-radius: 35px;
  width: 17px;
  height: 17px;
  margin-right: 7px;
}
/* Common Structure box with bg for account pages Scss End. */

.acc-or-signup {
  font-size: 15px;
  line-height: 15px;
  font-family: 'Inconsolata';
  color: #8e8e8e;
  margin-top: 55px;
  text-align: center;
  .chakra-link {
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    &:after {
      content: '';
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='11' viewBox='0 0 15 11' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.421875 5.62891C0.421875 5.35276 0.645733 5.12891 0.921875 5.12891H14.0381C14.3143 5.12891 14.5381 5.35276 14.5381 5.62891C14.5381 5.90505 14.3143 6.12891 14.0381 6.12891H0.921875C0.645733 6.12891 0.421875 5.90505 0.421875 5.62891Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.43089 0.475016C8.61728 0.271267 8.93355 0.257193 9.13729 0.443582L14.4197 5.27587C14.5232 5.37059 14.5822 5.50446 14.5822 5.64479C14.5822 5.78513 14.5232 5.919 14.4197 6.01372L9.13729 10.846C8.93355 11.0324 8.61728 11.0183 8.43089 10.8146C8.2445 10.6108 8.25857 10.2946 8.46232 10.1082L13.3414 5.64479L8.46232 1.18142C8.25857 0.995035 8.2445 0.678765 8.43089 0.475016Z' fill='white'/%3E%3C/svg%3E");
      background-size: 14px 11px;
      width: 14px;
      height: 11px;
      margin-left: 10px;
    }
  }
}

.box-shadow {
  &:after {
    content: '';
    // @include box-design(box);
    position: absolute;
    top: 100%;
    // right: 71px;
    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    // border: 1px solid $color-white;
    opacity: 0.2;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, white 41%, rgba(0, 0, 0, 0)) 1;
    // width: 345px;
    // height: 1519px;
    width: 17.969vw;
    height: 79.115vw;
    right: 3.698vw;
    z-index: 1;
    @include tablet {
      width: 160px;
      height: 609px;
    }
  }
}
body .add-to-cart {
    width: auto;
    background: transparent;
    &:hover {
        background: transparent;
        color: $color-white;
    }
}
@media (prefers-color-scheme: dark) {
    .bannerContent h2 {
        background-color: red;
    }
}