// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

* {
  box-sizing: border-box !important;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-family: $body-fonts;
  font-size: 62.5%;
}
#__next {
  overflow: hidden;
}
head + body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  padding: 0;
  font-weight: 400;
  font-family: $body-fonts;
  color: $color-white;
}
body {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    margin: 0 0 31px 0;
    padding: 0;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $heading-fonts;
    color: $color-white;
  }
  h1,
  .h1 {
    font-size: 40px;
  }
  h2,
  .h2 {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 15px;
    @include desktop-small {
      font-size: 24px;
      line-height: 24px;
    }
    @include tablet {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 11px;
    }
  }
  h3,
  .h3 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 17px;
    @include tablet {
      font-size: 20px;
      line-height: 20px;
    }
    @include mobile-small {
      margin-bottom: 14px;
    }
  }
  h4,
  .h4 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  h5,
  .h5 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  h6,
  .h6 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
  }

  a {
    outline: none;
    text-decoration: none;
    // color: $theme-link;
    // &:hover, &:focus{
    //     color: $theme-link-hover;
    // }
  }

  p {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    color: $color-white;
    font-family: $body-fonts;
    @include desktop-small {
      font-size: 15px;
      line-height: 15px;
    }
    @include mobile-small {
      font-size: 13px;
      margin-bottom: 13px;
    }

    &:focus-visible {
      outline: none !important;
    }
  }
  strong {
    font-size: 15px;
    line-height: 15px;
    font-family: $head-fonts;
    font-weight: 400;
  }
  ul li {
    font-size: 15px;
    line-height: 15px;
    color: $color-white;
    @include mobile-small {
      font-size: 13px;
      line-height: 13px;
    }
  }
  a {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: $color-white;
    font-family: $body-fonts;
  }
}
.body {
  width: 100%;
}
body {
  .container {
    max-width: 1920px;
    margin: auto;
    width: 100%;
    // @media screen and (min-width: 1921px) {
    //   max-width: 87.273vw;
    // }
    @include desktop-small {
      max-width: 1440px;
    }
    @include tablet {
      max-width: none;
      padding: 0 40px;
    }
    @include mobile-small {
      padding: 0 20px;
    }
  }
  .container-2 {
    max-width: 1740px;
    margin: 0 auto;
    // margin: auto;
    width: 100%;
    position: relative;
    // @media screen and (min-width: 1921px) {
    //   max-width: 87.273vw;
    // }
    @include desktop-small {
      padding: 0 40px;
    }
    @include tablet {
      max-width: none;
    }
    @include mobile-small {
      padding: 0 15px;
    }
  }
}

ul,
ol {
  margin-left: 30px;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

address {
  font-style: normal;
  margin-bottom: 20px;
}

button,
.btn,
a,
img {
  box-shadow: none !important;
  &:focus-visible {
    outline: none !important;
  }
  &:focus {
    background: transparent !important;
  }
}

// Button Style
button.btn,
.btn {
  all: unset;
  font-size: 16px;
  line-height: 16px;
  font-family: $body-fonts;
  font-weight: 400;
  color: $color-white;
  text-align: center;
  border: 1px solid #363636;
  border-radius: 79px;
  width: 178px;
  padding: 21px 10px;
  cursor: pointer;
  @include mobile {
    width: 134px;
    padding: 19px 10px;
  }
  &:hover {
    background-color: $color-white;
    color: $color-black;
  }
  &[disabled] {
    cursor: not-allowed;
    background-color: transparent;
    color: $color-white;
    opacity: 0.8;
  }
}
body .btn-2 {
  all: unset;
  font-size: 16px;
  line-height: 16px;
  font-family: $body-fonts;
  font-weight: 400;
  color: $color-white;
  text-align: center;
  @include display-flex(flex);
  @include align-item(center);
  // border: 1px solid #363636;
  // border-radius: 79px;
  // width: 178px;
  // padding: 21px 10px;
  cursor: pointer;
  transition: all 0.4s ease;
  @include mobile-small {
    font-size: 13px;
    line-height: 13px;
  }
  &:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='13' viewBox='0 0 16 13' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.798828 6.6367C0.798828 6.26113 1.10329 5.95667 1.47887 5.95667H15.0706C15.4461 5.95667 15.7506 6.26113 15.7506 6.6367C15.7506 7.01228 15.4461 7.31674 15.0706 7.31674H1.47887C1.10329 7.31674 0.798828 7.01228 0.798828 6.6367Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.15216 0.841609C9.41438 0.572723 9.84492 0.567315 10.1138 0.82953L15.5877 6.16758C15.7189 6.29556 15.7929 6.47112 15.7929 6.65444C15.7929 6.83776 15.7189 7.01331 15.5877 7.1413L10.1138 12.4793C9.84492 12.7416 9.41438 12.7362 9.15216 12.4673C8.88995 12.1984 8.89535 11.7678 9.16424 11.5056L14.1388 6.65444L9.16424 1.80325C8.89535 1.54104 8.88995 1.11049 9.15216 0.841609Z' fill='white'/%3E%3C/svg%3E");
    background-size: 100%;
    width: 15px;
    height: 12px;
    display: inline-block;
    margin-left: 10px;
    @include mobile-small {
      width: 9px;
      height: 7px;
    }
  }
  &:hover {
    &:after {
      transform: translateX(10px);
      transition: all 0.4s ease;
    }
  }
  &[disabled] {
    cursor: not-allowed;
    background-color: transparent;
    color: $color-white;
    opacity: 0.8;
  }
}

// Input Style
label.chakra-label,
.chakra-form__label {
  all: unset;
  font-size: 16px;
  line-height: 16px;
  font-family: 'Inconsolata', monospace;
  color: #ffffff;
  margin-bottom: 18px;
  padding: 0 35px 0 8px;
  display: block;
}
input.chakra-input {
  all: unset;
  font-size: 16px;
  line-height: 16px;
  font-family: 'Inconsolata', monospace;
  color: #ffffff;
  border-bottom: 1px solid #484848;
  border-radius: 0;
  padding: 0 35px 0 8px;
  width: 100%;
  min-height: 57px;
  background-color: transparent;
  &:placeholder {
    font-size: 16px;
    line-height: 16px;
    font-family: 'Inconsolata', monospace;
    color: #ffffff;
  }
  &:focus {
    border: 0 0 1px 0;
    box-shadow: none;
  }
}
input:-internal-autofill-selected {
  background-color: red !important;
  background: 0 !important;
  appearance: none;
}
input:-ms-input-placeholder.chakra-input {
  font-size: 16px;
  line-height: 16px;
  font-family: 'Inconsolata', monospace;
  color: #ffffff;
}
.chakra-textarea {
  all: unset;
  font-size: 16px;
  line-height: 16px;
  font-family: 'Inconsolata', monospace;
  color: #ffffff;
  border: 1px solid #323232;
  border-radius: 12px;
  padding: 10px;
  width: 100%;
  min-height: 118px;
  background-color: transparent;
  &:placeholder {
    font-size: 16px;
    line-height: 16px;
    font-family: 'Inconsolata', monospace;
    color: #ffffff;
  }
  &:focus {
    border: 0 0 1px 0;
    box-shadow: none;
  }
}

.box-shadow {
  &:after {
    content: '';
    // @include box-design(box);
    position: absolute;
    top: 100%;
    // right: 71px;
    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    // border: 1px solid $color-white;
    // opacity: 0.2;
    background-image: url(https://f.shgcdn.com/af74bc8a-a562-4bc7-ba00-971a45ffe86c/%22);
    background-size: 100% 100%;
    // border-width: 1px;
    // border-style: solid;
    // border-image: linear-gradient(to bottom, white 41%, rgba(0, 0, 0, 0)) 1;
    // border-image: linear-gradient(to bottom, $color-white 61%, $color-black 0) 1 1 0 1;
    // width: 345px;
    // height: 1519px;
    width: 17.969vw;
    height: 79.115vw;
    right: 3.698vw;
    z-index: 1;
    @include tablet {
      width: 275px;
      height: 609px;
    }
    @include tablet-small {
      width: 200px;
    }
    @include mobile-small {
      width: 160px;
      height: 685px;
    }
  }
}
body .add-to-cart {
  width: auto;
  background: transparent;
  &:hover {
    background: transparent;
    color: $color-white;
  }
}
@media (prefers-color-scheme: dark) {
  .bannerContent h2 {
    background-color: red;
  }
}
.WhiteTheme#frontend-root {
  background-color: $color-white;
}
div:focus-visible {
  outline: 0;
}
// @keyframes fadeIn {
//   0% {
//   }
//   100% {
//     @include text-shadow(text-shadow);
//   }
// }
.bounce-3 {
  animation-name: bounce-3;
  animation-timing-function: ease;
}
@keyframes bounce-3 {
  0%   { transform: translateX(0); }
  30%  { transform: translateX(-100px); }
  50%  { transform: translateX(0); }
  100% { transform: translateX(0); }
}
// @keyframes slideinleft {
//   from {
//     left: 0;
//     width: 8px;
//   }
//   to {
//     //left: 10px;
//     width: 8px;
//   }
// }
@keyframes slideinright {
  from {
    left: 0;
    width: 8px;
  }
  to {
    //left: 10px;
    width: 36px;
  }
}
.close {
  &:after {
    content: "";
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.7387 0.908287C14.934 1.10355 14.934 1.42013 14.7387 1.61539L1.61527 14.7388C1.42001 14.9341 1.10343 14.9341 0.908165 14.7388C0.712903 14.5436 0.712903 14.227 0.908165 14.0317L14.0316 0.908287C14.2269 0.713025 14.5434 0.713025 14.7387 0.908287Z' fill='%23ffffff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.908165 0.908287C1.10343 0.713025 1.42001 0.713025 1.61527 0.908287L14.7387 14.0317C14.934 14.227 14.934 14.5436 14.7387 14.7388C14.5434 14.9341 14.2269 14.9341 14.0316 14.7388L0.908165 1.61539C0.712903 1.42013 0.712903 1.10355 0.908165 0.908287Z' fill='%23ffffff'/%3E%3C/svg%3E");
    // background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.7387 0.908287C14.934 1.10355 14.934 1.42013 14.7387 1.61539L1.61527 14.7388C1.42001 14.9341 1.10343 14.9341 0.908165 14.7388C0.712903 14.5436 0.712903 14.227 0.908165 14.0317L14.0316 0.908287C14.2269 0.713025 14.5434 0.713025 14.7387 0.908287Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.908165 0.908287C1.10343 0.713025 1.42001 0.713025 1.61527 0.908287L14.7387 14.0317C14.934 14.227 14.934 14.5436 14.7387 14.7388C14.5434 14.9341 14.2269 14.9341 14.0316 14.7388L0.908165 1.61539C0.712903 1.42013 0.712903 1.10355 0.908165 0.908287Z' fill='black'/%3E%3C/svg%3E%0A");
    background-size: 100% 100%;
    display: block;
  }
}