.d-flex{
    @include display-flex(flex);
}
.align-v-center{
    @include align-item(center);
}
.align-start{
    @include align-item(flex-start);
}
.align-end{
    @include align-item(flex-end);
}
.align-self-start{
    @include align-self(flex-start);
}
.justify-center {
    @include justify-content(center);
}
.justify-space-end {
    @include justify-content(flex-end);
}
.justify-space-between {
    @include justify-content(space-between);
}
.flex-wrap {
    @include flex-wrap(wrap);
}
.flex-direction{
    @include flex-direction(column);
}

.align-left{ text-align: left; }
.align-center{ text-align: center; }
.align-right{ text-align: right; }
.img-large {
    max-width: 1025px;
}
.img-mid {
    max-width: 709px;
}
.img-small {
    max-width: 546px;
}
.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}
.mt-0 {
    margin-top: 0;
}
.mb-0 {
    margin-bottom: 0;
}

.list-none {
    list-style-type: none;
    margin: 0;
}

.text-shadow {
    color: $color-white;
    @include text-shadow(text-shadow);
    font-family: $heading-fonts;
    text-transform: inherit;
}

.bg-img {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.flex {
    @include display-flex(flex);
    @include align-item(center);
    @include justify-content(center);
}
.flex-col {
    @include display-flex(flex);
    @include flex-direction(column);
    @include align-item(center);
    @include justify-content(center);
}
.pt90 {
    padding-top: 90px;
}
.plr90 {
    padding-left: 90px;
    padding-right: 90px;
}
.mt15 {
    margin-bottom: 15px;
}
.mt30 {
    margin-bottom: 30px;
}
.mt100 {
    margin-top: 100px;
}
.mt120 {
    margin-top: 120px;
}
.mt230 {
    margin-top: 230px;
}
.mt245 {
    margin-top: 245px;
}
.mt290 {
    margin-top: 290px;
}