body #frontend-root {
  display: block;
  // overflow: hidden;
  header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    // + div {
    //     padding-top: 87px;
    // }
    .header-main {
      padding: 40px 33px 0 43px;
      width: 100%;
      @include display-flex(flex);
      @include justify-content(space-between);
      @include align-item(center);
      @include tablet {
        padding: 30px 0;
      }
      @include mobile-small {
        padding: 14px 0 0;
      }
    }
    .css-168suyo {
      width: auto;
    }
    img {
      margin: 0;
    }
  }
}
.header-left {
  @include display-flex(flex);
  @include justify-content(space-between);
  @include align-item(center);
  @include tablet {
    @include justify-content(flex-start);
  }
  @include mobile {
    @include justify-content(space-between);
    width: 100%;
  }
  a {
    max-width: 81px;
    max-height: 47px;
  }
  .logo-icon button {
    background: transparent;
    width: 81px;
    height: 47px;
    @include mobile-small {
      width: 50px;
      height: 30px;
    }
    &::after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='82' height='47' viewBox='0 0 82 47' fill='none'%3E%3Cpath d='M42.4461 16.5077L44.6974 15.3391L45.9421 15.193L47.8091 14.134L41.6591 2.99609L39.7372 4.09163L39.0233 5.13238L36.0215 6.86698L34.9782 8.21813L32.2876 6.86698L31.9765 9.86143L30.2742 10.0075L27.1992 11.596L25.9363 11.6508L23.9961 12.6733L30.1461 23.8112L32.0497 22.807L32.8367 21.821L35.0332 20.5611L35.3992 18.8631C36.2961 18.9544 36.7903 19.9038 36.9184 20.1594L36.8269 21.0176L38.401 23.8843L38.9867 24.0486L42.6841 30.7496L42.8122 32.3016L43.4345 32.3381V33.671C43.4345 33.7806 43.5077 33.8536 43.6175 33.8536H50.6278C50.7742 33.8536 50.8474 33.7075 50.7925 33.5797L49.2184 30.7678L49.1818 30.6948L47.9189 29.8914L48.23 29.3437L46.9854 28.4125L43.2881 21.7114L43.4528 21.1272L41.8787 18.2605L41.0916 17.8771C40.9452 17.6397 40.4144 16.7268 40.8171 15.9051L42.4461 16.5077Z' fill='white'/%3E%3Cpath d='M55.8451 6.5931C51.6353 2.28401 45.9429 -0.0713865 39.9027 0.00164904C34.3018 0.0746846 28.9022 2.32053 24.9121 6.22793C20.6839 10.3544 18.3594 15.9051 18.3594 21.7845C18.3594 26.1118 19.6223 30.2384 21.9469 33.7623C21.9835 33.8171 22.0384 33.8536 22.0933 33.8536H24.2531C24.3996 33.8536 24.4911 33.6893 24.3996 33.5615C21.8188 30.1288 20.3362 25.838 20.4826 21.2002C20.7937 10.9205 29.1219 2.52137 39.4268 2.11968C50.6652 1.68146 59.9268 10.6831 59.9268 21.7845C59.9268 26.2031 58.4625 30.2749 55.9915 33.5615C55.9 33.6893 55.9915 33.8536 56.138 33.8536H58.2978C58.3527 33.8536 58.4259 33.8171 58.4442 33.7623C60.8237 30.1653 62.0866 25.9475 62.0317 21.5289C61.9585 15.9599 59.7438 10.5735 55.8451 6.5931Z' fill='white'/%3E%3Cpath d='M3.5875 34.8761H0V46.7626H3.5875V34.8761Z' fill='white'/%3E%3Cpath d='M15.0814 41.3397C15.5207 40.7189 15.7587 39.9338 15.7587 39.0209V38.9843C15.7587 37.8158 15.3926 36.8663 14.6787 36.1725C14.2578 35.7525 13.727 35.4421 13.1046 35.223C12.4823 35.0039 11.7136 34.8761 10.7984 34.8761H5.14258V46.7626H8.71178V43.2752H9.8466L12.1712 46.7626H16.3078L13.4707 42.6361C14.1479 42.3257 14.697 41.8875 15.0814 41.3397ZM8.74838 38.0166H10.652C11.1462 38.0166 11.5305 38.1079 11.8051 38.3088C12.0613 38.4914 12.1895 38.7835 12.1895 39.1852V39.2217C12.1895 39.5869 12.0613 39.8608 11.8234 40.0799C11.5671 40.299 11.1645 40.4085 10.6703 40.4085H8.74838V38.0166Z' fill='white'/%3E%3Cpath d='M27.0896 36.4281C26.5405 35.8803 25.8632 35.4421 25.0762 35.1135C24.2891 34.7848 23.4289 34.6205 22.532 34.6205C21.6351 34.6205 20.7748 34.7848 19.9878 35.1135C19.2007 35.4421 18.5235 35.8621 17.9561 36.4281C17.3704 36.9941 16.9128 37.6515 16.6016 38.4001C16.2722 39.1669 16.1074 39.9703 16.1074 40.8102V40.8468C16.1074 41.6867 16.2722 42.4535 16.6016 43.2387C16.9128 43.9873 17.3704 44.6446 17.9378 45.1924C18.4869 45.7401 19.1641 46.1784 19.9512 46.507C20.7382 46.8357 21.5985 47 22.4954 47C23.3922 47 24.2525 46.8357 25.0396 46.507C25.8266 46.1784 26.5039 45.7584 27.0713 45.1924C27.657 44.6263 28.1146 43.969 28.4257 43.2204C28.7552 42.4535 28.9199 41.6502 28.9199 40.8102V40.7737C28.9199 39.9338 28.7552 39.1669 28.4257 38.3818C28.1146 37.6332 27.657 36.9759 27.0896 36.4281ZM21.3606 38.1079C21.7083 37.9436 22.0927 37.8706 22.4954 37.8706C22.8981 37.8706 23.2824 37.9436 23.6302 38.1079C23.9963 38.2723 24.3074 38.4914 24.5271 38.7287C24.765 39.0026 24.9664 39.313 25.0945 39.6599C25.2409 40.0251 25.2958 40.3903 25.2958 40.7737V40.8102C25.2958 41.2119 25.2226 41.5954 25.0945 41.924C24.9664 42.271 24.7833 42.5631 24.5271 42.8552C24.2891 43.1109 24.0146 43.33 23.6485 43.476C22.9347 43.7864 22.0927 43.7864 21.3789 43.476C21.0311 43.3117 20.7382 43.1109 20.5003 42.8552C20.2623 42.5814 20.061 42.271 19.9329 41.924C19.7864 41.5589 19.7315 41.1937 19.7315 40.8102V40.7737C19.7315 40.3355 19.7864 39.9703 19.9146 39.6599C20.061 39.2948 20.244 38.9844 20.482 38.7287C20.7565 38.4548 21.0311 38.254 21.3606 38.1079Z' fill='white'/%3E%3Cpath d='M37.54 40.6094L33.0556 34.8761H29.7793V46.7626H33.2936V40.792L37.961 46.7626H41.0543V34.8761H37.54V40.6094Z' fill='white'/%3E%3Cpath d='M51.1029 40.4451C50.7551 40.1895 50.3159 39.9521 49.6935 39.733C49.1627 39.5504 48.5587 39.3861 47.8815 39.24L47.8266 39.2218C47.4422 39.1305 47.1493 39.0757 46.9114 38.9844C46.6368 38.9113 46.4721 38.8383 46.3623 38.7653C46.1976 38.6557 46.1426 38.6009 46.1243 38.5644C46.0694 38.4549 46.0511 38.3818 46.0511 38.2905V38.254C46.0511 38.0897 46.106 37.9801 46.2708 37.8706C46.4172 37.761 46.6734 37.688 47.0212 37.688C47.5337 37.688 48.0645 37.7793 48.577 37.9801C49.0895 38.1445 49.5837 38.4001 50.1511 38.8018L50.2976 38.9113L52.0913 36.3551L51.9632 36.2456C51.3042 35.716 50.6087 35.3326 49.8034 35.0587C48.998 34.8031 48.1011 34.6753 47.0944 34.6753C46.3806 34.6753 45.74 34.7666 45.1726 34.9674C44.5868 35.1683 44.0926 35.4239 43.7083 35.7708C43.2873 36.1177 42.9761 36.5194 42.7565 37.0124C42.5368 37.5054 42.427 38.0349 42.427 38.5644V38.601C42.427 39.2218 42.5368 39.733 42.7748 40.1712C42.9944 40.5912 43.3239 40.9381 43.7449 41.2302C44.1475 41.5224 44.6234 41.7415 45.1726 41.9058C45.7583 42.1067 46.3806 42.2527 46.9114 42.3805C47.3141 42.4718 47.6069 42.5449 47.8632 42.6362L47.9364 42.6544C48.1377 42.7275 48.3025 42.8005 48.4123 42.8735C48.5404 42.9466 48.6319 43.0013 48.6502 43.0744C48.7051 43.1657 48.7234 43.2387 48.7234 43.33V43.3665C48.7234 43.5491 48.6502 43.6769 48.4855 43.7865C48.2659 43.896 47.9547 43.9691 47.5886 43.9691C46.3074 43.9691 45.081 43.5126 43.9462 42.6179L43.7998 42.5083L41.8047 44.9185L41.9328 45.0281C42.6467 45.6671 43.5069 46.1601 44.477 46.507C45.4471 46.8357 46.4538 47 47.4788 47C48.2292 47 48.8882 46.8905 49.4739 46.6896C50.0779 46.507 50.5904 46.2514 50.9931 45.9228C51.4141 45.5941 51.7618 45.1741 51.9998 44.6812C52.2377 44.2064 52.3476 43.6404 52.3476 43.0379V43.0013C52.3476 42.4171 52.2377 41.9241 52.0364 41.5224C51.7985 41.1024 51.5056 40.7372 51.1029 40.4451Z' fill='white'/%3E%3Cpath d='M57.0348 34.8761H53.4473V46.7626H57.0348V34.8761Z' fill='white'/%3E%3Cpath d='M68.2908 36.5011C67.6868 35.9716 66.9729 35.5699 66.1859 35.296C65.3439 35.0039 64.3921 34.8578 63.3671 34.8578H58.7363V46.7443H63.3122C64.3738 46.7443 65.3073 46.5982 66.1493 46.2878C66.9912 45.9957 67.6868 45.594 68.2725 45.0462C68.8582 44.4985 69.3158 43.8594 69.5904 43.1473C69.9015 42.3987 70.0479 41.6318 70.0479 40.7554V40.7554C70.0479 39.8972 69.9015 39.0938 69.5904 38.3817C69.2975 37.6697 68.8582 37.0489 68.2908 36.5011ZM66.4238 40.8102V40.8467C66.4238 41.7231 66.1493 42.3804 65.6185 42.8552C65.0694 43.3299 64.3189 43.5673 63.4037 43.5673H62.2872V38.0713H63.4037C64.3372 38.0713 65.0511 38.3087 65.6002 38.8017C66.1493 39.2582 66.4238 39.952 66.4238 40.8102Z' fill='white'/%3E%3Cpath d='M74.8256 43.6769V42.2162H80.3715V39.3495H74.8256V37.9619H80.9389V34.8761H71.293V46.7626H81.0122V43.6769H74.8256Z' fill='white'/%3E%3C/svg%3E");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 81px;
      height: 47px;
      @include mobile-small {
        width: 50px;
        height: 30px;
      }
    }
  }
  img {
    display: none;
  }
}
.header-icon {
  margin-right: 60px;
}
header .nav-links {
  padding-left: 60px;
  .css-r6z5ec {
    // top: 20px !important;
    transform: none !important;
    inset: 120px auto auto 25px !important;
    @include tablet {
      inset: auto !important;
      left: 0 !important;
      right: 0 !important;
      top: 110% !important;
    }
  }
}
.mobile-menu {
  @media screen and (min-width: 800px) {
    display: none;
  }
  div div {
    background-color: $color-black;
  }
  .about-us-mega-menu {
    padding: 0 20px;
    .col {
      h4 {
        margin-bottom: 28px;
      }
      a {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 10px;
        display: block;
        text-decoration: none;
      }
      li:last-child a {
        margin-bottom: 0;
      }
      div + div {
        margin-top: 82px;
        margin-bottom: 64px;
      }
    }
    .about-us-bottom {
      padding-left: 0;
      padding-right: 0;
      word-break: break-all;
    }
  }
}
header .nav-links-btn,
.mobile-menu .nav-links-btn {
  all: unset;
  font-size: 13px;
  line-height: 13px;
  color: $color-white;
  opacity: 0.8;
  font-weight: 700;
  font-family: $heading-fonts;
  margin: 0;
  padding-right: 45px;
  @include tablet {
    padding-right: 25px;
  }
  @include mobile {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 0;
    width: 100%;
    margin: 5px 0;
    display: block;
    opacity: 1;
    p.chakra-text {
      all: unset;
      font-size: 24px;
      line-height: 24px;
      text-transform: uppercase;
      margin: 0;
    }
  }
  position: relative;
  &:focus {
    background: transparent;
    box-shadow: none;
    text-decoration: none;
  }
  &:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    &::before {
      display: block;
    }
  }
  &[aria-expanded='true'] {
    opacity: 1;
    span {
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 5px;
        width: 5px;
        background-color: $color-white;
        border-radius: 50%;
        left: -12px;
      }
    }
  }
  &::before {
    content: '';
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 5px;
    width: 5px;
    background-color: $color-white;
    border-radius: 50%;
    left: -12px;
    @include mobile {
      display: none !important;
    }
  }
  .chakra-text {
    font-size: 13px;
    line-height: 13px;
  }
  svg {
    display: none;
  }
}
.header-right {
  @include mobile {
    display: none;
  }
  a {
    background-color: transparent;
    color: $color-white;
    margin: 0 0 0 16px;
    svg {
      width: auto;
      stroke: $color-white;
    }
    &.usdIcon {
      @include display-flex(flex);
      @include align-item(center);
      @include justify-content(center);
      width: 43px;
      height: 22px;
      border: 1px solid $color-white;
      border-radius: 32px;
      &:hover {
        text-decoration: none;
      }
      span {
        font-size: 12px;
        line-height: 12px;
        text-transform: capitalize;
        font-family: $heading-fonts;
        font-weight: 400;
      }
    }
  }
  .cart {
    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewBox='0 0 20 18' fill='none'%3E%3Cpath d='M5.3252 11.975L3.6377 3.875H17.8127C18.6002 3.875 19.0502 4.55 18.9377 5.225L17.3627 12.0875C17.1377 12.9875 16.3502 13.6625 15.4502 13.775H7.8002C6.5627 13.8875 5.5502 13.1 5.3252 11.975Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.6375 3.875L2.85 0.5H0.9375' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.2371 16.5875C16.0121 16.5875 15.7871 16.8125 15.7871 17.0375C15.7871 17.2625 16.0121 17.4875 16.2371 17.4875C16.4621 17.4875 16.6871 17.2625 16.6871 17.0375C16.6871 16.7 16.4621 16.5875 16.2371 16.5875Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.78789 16.5875C6.56289 16.5875 6.33789 16.8125 6.33789 17.0375C6.33789 17.2625 6.56289 17.4875 6.78789 17.4875C7.01289 17.4875 7.23789 17.2625 7.23789 17.0375C7.23789 16.7 7.01289 16.5875 6.78789 16.5875Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 18px;
      height: 17px;
      display: block;
    }
    img {
      display: none;
    }
  }
  .account {
    // margin: 0;
    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='18' viewBox='0 0 16 18' fill='none'%3E%3Cpath d='M0.912109 16.75C0.912109 14.294 2.97169 12.303 5.51229 12.303H10.7942C13.3348 12.303 15.3943 14.294 15.3943 16.75' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.262 1.9948C12.9789 3.65453 12.9789 6.34548 11.262 8.00521C9.54505 9.66494 6.76141 9.66494 5.04451 8.00521C3.32761 6.34548 3.32761 3.65453 5.04451 1.9948C6.76141 0.335068 9.54505 0.335068 11.262 1.9948' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 18px;
      height: 17px;
      display: block;
    }
    img {
      display: none;
    }
  }
  .volume {
    @include display-flex(flex);
    @include align-item(center);
    @include justify-content(center);
    width: 33px;
    height: 33px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 50%;
    margin-left: 21px !important;
    padding: 0;
    &:focus {
      background: rgba(255, 255, 255, 0.1) !important;
    }
    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M3.875 4.62498H1.5C0.948 4.62498 0.5 5.07298 0.5 5.62498V10.375C0.5 10.927 0.948 11.375 1.5 11.375H3.875L7.854 14.746C8.504 15.297 9.5 14.835 9.5 13.983V2.01698C9.5 1.16498 8.503 0.702982 7.854 1.25398L3.875 4.62498V4.62498Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.5371 11.978C14.6991 11.256 15.5001 9.75397 15.5001 8.00497C15.5001 6.25597 14.6991 4.75297 13.5371 4.02197' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 18px;
      height: 17px;
      display: block;
    }
    &.mute {
      &:before {
        content: '';
        display: block;
        background-color: $color-white;
        width: 100%;
        height: 1px;
        position: absolute;
        transform: rotate(40deg);
      }
    }
    img {
      display: none;
    }
  }
}
header {
  [role='menu'] {
    background: transparent;
    width: 1110px;
    background: #101010;
    border: 1px solid #363636;
    box-shadow: 8px 12px 0px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 0;
    margin: auto;
    @include desktop-small {
      width: 900px;
    }
    > div {
      // background-size: 100% 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 4px;
      @include tablet {
        background-size: auto;
      }
    }
    .menu-description {
      width: 376px;
      padding: 70px 0 70px 70px;
      min-height: 489px;
      > div {
        @include display-flex(flex);
        @include flex-direction(column);
        position: relative;
        z-index: 99;
        padding-right: 56px;
        &:after {
          content: '';
          display: inline-block;
          height: 404px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          border-right: 1px solid #363636;
        }
      }
      &::before {
        content: "";
        height: 99.5%;
        width: 376px;
        background: rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(20px);
        position: absolute;
        top: 1px;
        bottom: -1px;
        left: 1px;
      }
    }
  }
  .chakra-menu__menuitem {
    all: unset;
    margin-bottom: 38px;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      background-color: transparent;
      .sub-menu-heading {
        @include text-shadow(text-shadow);
        // transition: 0.3s opacity;
        // animation: fadeIn 5s;
        // -webkit-animation: fadeIn 5s;
        // -moz-animation: fadeIn 5s;
        // -o-animation: fadeIn 5s;
        // -ms-animation: fadeIn 5s;
      }
    }
    &:focus {
      background: transparent;
      box-shadow: none;
      text-decoration: none;
    }
    .sub-menu-heading {
      font-size: 20px;
      line-height: 20px;
      color: $color-white;
      font-family: $heading-fonts;
      font-weight: 700;
      // transition: 0.3s opacity;

      // animation: fadeIn 5s;
      // -webkit-animation: fadeIn 5s;
      // -moz-animation: fadeIn 5s;
      // -o-animation: fadeIn 5s;
      // -ms-animation: fadeIn 5s;
    }
    .sub-menu-desc {
      font-size: 14px;
      line-height: 17px;
      color: #969696;
      font-family: $body-fonts;
      font-weight: 500;
      display: block;
    }
  }
}

.shg-sld-dots {
  position: absolute;
  bottom: 56px;
  .shg-sld-dot {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 56px;
    & .shg-sld-active {
      width: 36px;
      background-color: $color-white;
    }
  }
  div + div {
    margin-right: 5px;
  }
}
.css-1yxoe2e {
  background-color: $color-black;
  border: 0;
}
.mobile-menu > div {
  @include tablet {
    height: 100vh !important;
    width: 100%;
    transform: none !important;
    top: 0 !important;
    bottom: 0 !important;
    padding: 0;
    height: 100vw;
    > div {
      padding: 28px 24px 42px 42px;
      height: 100vh;
    }
    .chakra-menu__menuitem {
      color: $color-white;
      padding: 10px 0;
    }
    .cart {
      &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewBox='0 0 20 18' fill='none'%3E%3Cpath d='M5.3252 11.975L3.6377 3.875H17.8127C18.6002 3.875 19.0502 4.55 18.9377 5.225L17.3627 12.0875C17.1377 12.9875 16.3502 13.6625 15.4502 13.775H7.8002C6.5627 13.8875 5.5502 13.1 5.3252 11.975Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.6375 3.875L2.85 0.5H0.9375' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.2371 16.5875C16.0121 16.5875 15.7871 16.8125 15.7871 17.0375C15.7871 17.2625 16.0121 17.4875 16.2371 17.4875C16.4621 17.4875 16.6871 17.2625 16.6871 17.0375C16.6871 16.7 16.4621 16.5875 16.2371 16.5875Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.78789 16.5875C6.56289 16.5875 6.33789 16.8125 6.33789 17.0375C6.33789 17.2625 6.56289 17.4875 6.78789 17.4875C7.01289 17.4875 7.23789 17.2625 7.23789 17.0375C7.23789 16.7 7.01289 16.5875 6.78789 16.5875Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 18px;
        height: 17px;
        display: block;
      }
      img {
        display: none;
      }
    }
    .account {
      // margin: 0;
      &:after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='18' viewBox='0 0 16 18' fill='none'%3E%3Cpath d='M0.912109 16.75C0.912109 14.294 2.97169 12.303 5.51229 12.303H10.7942C13.3348 12.303 15.3943 14.294 15.3943 16.75' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.262 1.9948C12.9789 3.65453 12.9789 6.34548 11.262 8.00521C9.54505 9.66494 6.76141 9.66494 5.04451 8.00521C3.32761 6.34548 3.32761 3.65453 5.04451 1.9948C6.76141 0.335068 9.54505 0.335068 11.262 1.9948' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 18px;
        height: 17px;
        display: block;
      }
      img {
        display: none;
      }
    }
  }
  .mobile-img {
    display: none;
  }
  .mobile-top {
    @include display-flex(flex);
    @include justify-content(flex-end);
    @include align-item(center);
    // margin-bottom: 165px;
    margin-bottom: auto;
    .cart {
      margin-right: 14px;
    }
    .account {
      margin-right: 18px;
    }
    .mobile-menu-btn {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M13.286 1.45001L1.24365 13.4923' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.286 13.4923L1.24365 1.45001' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        width: 12px;
        height: 12px;
      }
    }
  }
}
.sb-show-main.sb-main-centered #root {
  padding: 0;
  margin: 0;
  width: 100%;
}
.chakra-menu__menu-button {
  svg {
    visibility: hidden;
  }
  &:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='11' viewBox='0 0 15 11' fill='none'%3E%3Cpath d='M4.5625 10.125H13.9583' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.125 0.5H13.9583' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.125 5.3125H13.9583' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: 100%;
    width: 13px;
    height: 10px;
  }
}

// Header Two
#frontend-root header .header-main.header-2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 22px 45px 20px;
  margin: 0 auto;
  max-width: 1920px;
  width: auto;
  left: 0;
  right: 0;
  @include tablet {
    padding: 20px;
    @include mobile {
      max-width: 88.718vw;
      padding: 8px 0;
    }
  }
  > div {
    width: 33.33%;
    @include mobile {
      width: 50%;
    }
  }
  h1 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 0;
    @include tablet {
      font-size: 20px;
      line-height: 20px;
    }
    @include mobile {
      font-size: 16px;
      line-height: 16px;
    }
  }
  .header-left {
    @include mobile {
      display: none;
    }
  }
  .header-center {
    @include display-flex(flex);
    @include justify-content(center);
    @include mobile {
      @include justify-content(flex-start);
      padding: 10px 0 0;
    }
  }
  .header-right {
    @include display-flex(flex);
    @include justify-content(flex-end);
    a {
      // font-size: 14px;
      // line-height: 14px;
      letter-spacing: -0.02em;
      padding: 10px 13px;
      margin: 0;
      border-radius: 90px;
      @include tablet {
        padding: 10px 8px;
      }
      @include tablet-small {
        display: none;
      }
      // @include mobile {
      //   display: none;
      // }
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
    .buy-now-btn {
      padding: 9px 17px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 49px;
      margin-left: 2px;
      @include tablet-small {
        display: block;
      }
      @include mobile {
        font-size: 12px;
        line-height: 12px;
        display: block;
        padding: 6px 9px;
      }
      &:hover {
        background-color: transparent;
        border-color: $color-white;
      }
    }
  }
}
body {
  .mobile-menu-btn {
    display: none;
    @include tablet-small {
      display: block;
      &:after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='11' viewBox='0 0 15 11' fill='none'%3E%3Cpath d='M4.5625 10.125H13.9583' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.125 0.5H13.9583' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.125 5.3125H13.9583' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 13px;
        height: 10px;
        display: block;
      }
      svg {
        display: none;
        visibility: hidden;
      }
    }
  }
  .navigation-links .chakra-stack {
    @include mobile {
      display: none;
    }
  }
  .chakra-menu__menu-list {
    @include display-flex(flex);
    @include flex-direction(column);
    // filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.74));
    transition: 0.2s opacity, 0.2s transform;
    p {
      @include m-0(m-0);
    }
  }
}

.header-2-sticky {
  position: -webkit-sticky;
  top: 0;
  background-color: $color-black;
  z-index: 99;
  .header-2 {
    position: absolute;
    backdrop-filter: blur(20px);
  }
}
#whiteTheme.header-main,
.WhiteTheme {
  .header-left .logo-icon button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='82' height='47' viewBox='0 0 82 47' fill='none'%3E%3Cpath d='M42.4461 16.5077L44.6974 15.3391L45.9421 15.193L47.8091 14.134L41.6591 2.99609L39.7372 4.09163L39.0233 5.13238L36.0215 6.86698L34.9782 8.21813L32.2876 6.86698L31.9765 9.86143L30.2742 10.0075L27.1992 11.596L25.9363 11.6508L23.9961 12.6733L30.1461 23.8112L32.0497 22.807L32.8367 21.821L35.0332 20.5611L35.3992 18.8631C36.2961 18.9544 36.7903 19.9038 36.9184 20.1594L36.8269 21.0176L38.401 23.8843L38.9867 24.0486L42.6841 30.7496L42.8122 32.3016L43.4345 32.3381V33.671C43.4345 33.7806 43.5077 33.8536 43.6175 33.8536H50.6278C50.7742 33.8536 50.8474 33.7075 50.7925 33.5797L49.2184 30.7678L49.1818 30.6948L47.9189 29.8914L48.23 29.3437L46.9854 28.4125L43.2881 21.7114L43.4528 21.1272L41.8787 18.2605L41.0916 17.8771C40.9452 17.6397 40.4144 16.7268 40.8171 15.9051L42.4461 16.5077Z' fill='black'/%3E%3Cpath d='M55.8441 6.5931C51.6343 2.28401 45.9419 -0.0713865 39.9017 0.00164904C34.3008 0.0746846 28.9013 2.32053 24.9111 6.22793C20.683 10.3544 18.3584 15.9051 18.3584 21.7845C18.3584 26.1118 19.6213 30.2384 21.9459 33.7623C21.9825 33.8171 22.0374 33.8536 22.0923 33.8536H24.2521C24.3986 33.8536 24.4901 33.6893 24.3986 33.5615C21.8178 30.1288 20.3352 25.838 20.4816 21.2002C20.7928 10.9205 29.1209 2.52137 39.4258 2.11968C50.6642 1.68146 59.9258 10.6831 59.9258 21.7845C59.9258 26.2031 58.4615 30.2749 55.9906 33.5615C55.899 33.6893 55.9906 33.8536 56.137 33.8536H58.2968C58.3517 33.8536 58.4249 33.8171 58.4432 33.7623C60.8227 30.1653 62.0857 25.9475 62.0307 21.5289C61.9575 15.9599 59.7428 10.5735 55.8441 6.5931Z' fill='black'/%3E%3Cpath d='M3.5875 34.8761H0V46.7626H3.5875V34.8761Z' fill='black'/%3E%3Cpath d='M15.0824 41.3397C15.5217 40.7189 15.7596 39.9338 15.7596 39.0209V38.9843C15.7596 37.8158 15.3936 36.8663 14.6797 36.1725C14.2587 35.7525 13.7279 35.4421 13.1056 35.223C12.4833 35.0039 11.7145 34.8761 10.7994 34.8761H5.14355V46.7626H8.71275V43.2752H9.84758L12.1721 46.7626H16.3087L13.4717 42.6361C14.1489 42.3257 14.698 41.8875 15.0824 41.3397ZM8.74936 38.0166H10.6529C11.1471 38.0166 11.5315 38.1079 11.8061 38.3088C12.0623 38.4914 12.1904 38.7835 12.1904 39.1852V39.2217C12.1904 39.5869 12.0623 39.8608 11.8244 40.0799C11.5681 40.299 11.1654 40.4085 10.6712 40.4085H8.74936V38.0166Z' fill='black'/%3E%3Cpath d='M27.0886 36.4281C26.5395 35.8803 25.8623 35.4421 25.0752 35.1135C24.2881 34.7848 23.4279 34.6205 22.531 34.6205C21.6341 34.6205 20.7739 34.7848 19.9868 35.1135C19.1998 35.4421 18.5225 35.8621 17.9551 36.4281C17.3694 36.9941 16.9118 37.6515 16.6006 38.4001C16.2712 39.1669 16.1064 39.9703 16.1064 40.8102V40.8468C16.1064 41.6867 16.2712 42.4535 16.6006 43.2387C16.9118 43.9873 17.3694 44.6446 17.9368 45.1924C18.4859 45.7401 19.1631 46.1784 19.9502 46.507C20.7373 46.8357 21.5975 47 22.4944 47C23.3913 47 24.2515 46.8357 25.0386 46.507C25.8257 46.1784 26.5029 45.7584 27.0703 45.1924C27.656 44.6263 28.1136 43.969 28.4248 43.2204C28.7542 42.4535 28.919 41.6502 28.919 40.8102V40.7737C28.919 39.9338 28.7542 39.1669 28.4248 38.3818C28.1136 37.6332 27.656 36.9759 27.0886 36.4281ZM21.3596 38.1079C21.7073 37.9436 22.0917 37.8706 22.4944 37.8706C22.8971 37.8706 23.2815 37.9436 23.6292 38.1079C23.9953 38.2723 24.3065 38.4914 24.5261 38.7287C24.764 39.0026 24.9654 39.313 25.0935 39.6599C25.2399 40.0251 25.2948 40.3903 25.2948 40.7737V40.8102C25.2948 41.2119 25.2216 41.5954 25.0935 41.924C24.9654 42.271 24.7823 42.5631 24.5261 42.8552C24.2881 43.1109 24.0136 43.33 23.6475 43.476C22.9337 43.7864 22.0917 43.7864 21.3779 43.476C21.0301 43.3117 20.7373 43.1109 20.4993 42.8552C20.2614 42.5814 20.06 42.271 19.9319 41.924C19.7855 41.5589 19.7306 41.1937 19.7306 40.8102V40.7737C19.7306 40.3355 19.7855 39.9703 19.9136 39.6599C20.06 39.2948 20.2431 38.9844 20.481 38.7287C20.7556 38.4548 21.0301 38.254 21.3596 38.1079Z' fill='black'/%3E%3Cpath d='M37.54 40.6094L33.0556 34.8761H29.7793V46.7626H33.2936V40.792L37.961 46.7626H41.0543V34.8761H37.54V40.6094Z' fill='black'/%3E%3Cpath d='M51.1039 40.4451C50.7561 40.1895 50.3168 39.9521 49.6945 39.733C49.1637 39.5504 48.5597 39.3861 47.8825 39.24L47.8275 39.2218C47.4432 39.1305 47.1503 39.0757 46.9124 38.9844C46.6378 38.9113 46.4731 38.8383 46.3633 38.7653C46.1985 38.6557 46.1436 38.6009 46.1253 38.5644C46.0704 38.4549 46.0521 38.3818 46.0521 38.2905V38.254C46.0521 38.0897 46.107 37.9801 46.2717 37.8706C46.4182 37.761 46.6744 37.688 47.0222 37.688C47.5347 37.688 48.0655 37.7793 48.578 37.9801C49.0905 38.1445 49.5847 38.4001 50.1521 38.8018L50.2985 38.9113L52.0923 36.3551L51.9642 36.2456C51.3052 35.716 50.6097 35.3326 49.8043 35.0587C48.999 34.8031 48.1021 34.6753 47.0954 34.6753C46.3816 34.6753 45.7409 34.7666 45.1735 34.9674C44.5878 35.1683 44.0936 35.4239 43.7092 35.7708C43.2883 36.1177 42.9771 36.5194 42.7575 37.0124C42.5378 37.5054 42.428 38.0349 42.428 38.5644V38.601C42.428 39.2218 42.5378 39.733 42.7758 40.1712C42.9954 40.5912 43.3249 40.9381 43.7458 41.2302C44.1485 41.5224 44.6244 41.7415 45.1735 41.9058C45.7592 42.1067 46.3816 42.2527 46.9124 42.3805C47.315 42.4718 47.6079 42.5449 47.8642 42.6362L47.9374 42.6544C48.1387 42.7275 48.3034 42.8005 48.4133 42.8735C48.5414 42.9466 48.6329 43.0013 48.6512 43.0744C48.7061 43.1657 48.7244 43.2387 48.7244 43.33V43.3665C48.7244 43.5491 48.6512 43.6769 48.4865 43.7865C48.2668 43.896 47.9557 43.9691 47.5896 43.9691C46.3083 43.9691 45.082 43.5126 43.9472 42.6179L43.8008 42.5083L41.8057 44.9185L41.9338 45.0281C42.6476 45.6671 43.5079 46.1601 44.478 46.507C45.4481 46.8357 46.4548 47 47.4798 47C48.2302 47 48.8892 46.8905 49.4749 46.6896C50.0789 46.507 50.5914 46.2514 50.9941 45.9228C51.415 45.5941 51.7628 45.1741 52.0008 44.6812C52.2387 44.2064 52.3485 43.6404 52.3485 43.0379V43.0013C52.3485 42.4171 52.2387 41.9241 52.0374 41.5224C51.7994 41.1024 51.5066 40.7372 51.1039 40.4451Z' fill='black'/%3E%3Cpath d='M57.0338 34.8761H53.4463V46.7626H57.0338V34.8761Z' fill='black'/%3E%3Cpath d='M68.2908 36.5011C67.6868 35.9716 66.9729 35.5699 66.1859 35.296C65.3439 35.0039 64.3921 34.8578 63.3671 34.8578H58.7363V46.7443H63.3122C64.3738 46.7443 65.3073 46.5982 66.1493 46.2878C66.9912 45.9957 67.6868 45.594 68.2725 45.0462C68.8582 44.4985 69.3158 43.8594 69.5904 43.1473C69.9015 42.3987 70.0479 41.6318 70.0479 40.7554C70.0479 39.8972 69.9015 39.0938 69.5904 38.3817C69.2975 37.6697 68.8582 37.0489 68.2908 36.5011ZM66.4238 40.8102V40.8467C66.4238 41.7231 66.1493 42.3804 65.6185 42.8552C65.0694 43.3299 64.3189 43.5673 63.4037 43.5673H62.2872V38.0713H63.4037C64.3372 38.0713 65.0511 38.3087 65.6002 38.8017C66.1493 39.2582 66.4238 39.952 66.4238 40.8102Z' fill='black'/%3E%3Cpath d='M74.8256 43.6769V42.2162H80.3715V39.3495H74.8256V37.9619H80.9389V34.8761H71.293V46.7626H81.0122V43.6769H74.8256Z' fill='black'/%3E%3C/svg%3E");
  }
  .mobile-menu-btn:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='11' viewBox='0 0 15 11' fill='none'%3E%3Cpath d='M4.5625 10.1414H13.9583' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.125 0.516357H13.9583' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.125 5.32886H13.9583' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  .nav-links-btn,
  .mobile-menu .nav-links-btn {
    color: $color-black;
  }
  .header-right a.usdIcon {
    border-color: $color-black;
    span {
      color: $color-black;
    }
  }
  .header-right .cart::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.24956 3.55955C3.34451 3.44279 3.487 3.375 3.6375 3.375H17.8125C18.9513 3.375 19.5868 4.37068 19.4307 5.3072C19.429 5.31714 19.4271 5.32703 19.4248 5.33685L17.8477 12.2088C17.5714 13.314 16.6119 14.1337 15.512 14.2711C15.4914 14.2737 15.4707 14.275 15.45 14.275H7.82169C6.34362 14.3981 5.11013 13.445 4.83512 12.0751L3.14801 3.97698C3.11732 3.82964 3.15462 3.67632 3.24956 3.55955ZM4.2524 4.375L5.81531 11.8769C5.98966 12.7487 6.76898 13.3667 7.75473 13.2771C7.76978 13.2757 7.78489 13.275 7.8 13.275H15.4168C16.1035 13.1769 16.7036 12.6537 16.8763 11.9706L18.4464 5.12963C18.5076 4.72182 18.2441 4.375 17.8125 4.375H4.2524Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.4375 0.5C0.4375 0.223858 0.661358 0 0.9375 0H2.85C3.08237 0 3.28412 0.160091 3.33692 0.386385L4.12442 3.76139C4.18717 4.0303 4.02003 4.29917 3.75111 4.36192C3.4822 4.42467 3.21333 4.25753 3.15058 3.98862L2.45324 1H0.9375C0.661358 1 0.4375 0.776142 0.4375 0.5Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.5746 16.3746C15.7291 16.22 15.9624 16.0875 16.2375 16.0875C16.4243 16.0875 16.6646 16.1332 16.867 16.3018C17.0853 16.4838 17.1875 16.7485 17.1875 17.0375C17.1875 17.3126 17.055 17.5459 16.9004 17.7004C16.7459 17.855 16.5126 17.9875 16.2375 17.9875C15.9624 17.9875 15.7291 17.855 15.5746 17.7004C15.42 17.5459 15.2875 17.3126 15.2875 17.0375C15.2875 16.7624 15.42 16.5291 15.5746 16.3746ZM16.2806 17.0806C16.2831 17.0741 16.2875 17.0596 16.2875 17.0375C16.2875 17.0154 16.2831 17.0009 16.2806 16.9944C16.2741 16.9919 16.2596 16.9875 16.2375 16.9875C16.2154 16.9875 16.2009 16.9919 16.1944 16.9944C16.1926 16.999 16.1899 17.0076 16.1885 17.02C16.1885 17.02 16.1885 17.02 16.1885 17.0201C16.1906 17.0249 16.1936 17.0309 16.1979 17.0375C16.1995 17.0399 16.2012 17.0424 16.2031 17.045C16.2101 17.0545 16.2183 17.0629 16.2268 17.07C16.2306 17.0732 16.2342 17.0759 16.2375 17.0781C16.2437 17.0823 16.2489 17.085 16.2527 17.0868C16.2664 17.0854 16.2757 17.0825 16.2806 17.0806Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.12457 16.3746C6.27912 16.22 6.51238 16.0875 6.7875 16.0875C6.97429 16.0875 7.21465 16.1332 7.41697 16.3018C7.63533 16.4838 7.7375 16.7485 7.7375 17.0375C7.7375 17.3126 7.60498 17.5459 7.45043 17.7004C7.29588 17.855 7.06262 17.9875 6.7875 17.9875C6.51238 17.9875 6.27912 17.855 6.12457 17.7004C5.97002 17.5459 5.8375 17.3126 5.8375 17.0375C5.8375 16.7624 5.97002 16.5291 6.12457 16.3746ZM6.83059 17.0806C6.8331 17.0741 6.8375 17.0596 6.8375 17.0375C6.8375 17.0154 6.8331 17.0009 6.83058 16.9944C6.82409 16.9919 6.8096 16.9875 6.7875 16.9875C6.7654 16.9875 6.75091 16.9919 6.74442 16.9944C6.74264 16.999 6.73993 17.0076 6.73849 17.02C6.7385 17.02 6.73852 17.02 6.73854 17.0201C6.7406 17.0249 6.74364 17.0309 6.74789 17.0375C6.74945 17.0399 6.75118 17.0424 6.75307 17.045C6.76012 17.0545 6.76825 17.0629 6.77678 17.07C6.78057 17.0732 6.78417 17.0759 6.7875 17.0781C6.79366 17.0823 6.7989 17.085 6.8027 17.0868C6.81637 17.0854 6.82572 17.0825 6.83059 17.0806Z' fill='black'/%3E%3C/svg%3E%0A");
  }
  .header-right .account:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='18' viewBox='0 0 16 18' fill='none'%3E%3Cpath d='M0.912109 16.75C0.912109 14.294 2.97169 12.303 5.51229 12.303H10.7942C13.3348 12.303 15.3943 14.294 15.3943 16.75' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.262 1.9948C12.9789 3.65453 12.9789 6.34548 11.262 8.00521C9.54505 9.66494 6.76141 9.66494 5.04451 8.00521C3.32761 6.34548 3.32761 3.65453 5.04451 1.9948C6.76141 0.335068 9.54505 0.335068 11.262 1.9948' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  .header-right .volume {
    background: rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(20px);
    &:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M3.875 4.62498H1.5C0.948 4.62498 0.5 5.07298 0.5 5.62498V10.375C0.5 10.927 0.948 11.375 1.5 11.375H3.875L7.854 14.746C8.504 15.297 9.5 14.835 9.5 13.983V2.01698C9.5 1.16498 8.503 0.702982 7.854 1.25398L3.875 4.62498V4.62498Z' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.5371 11.978C14.6991 11.256 15.5001 9.75397 15.5001 8.00497C15.5001 6.25597 14.6991 4.75297 13.5371 4.02197' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
    &.mute {
      &:before {
        background-color: $color-black;
      }
    }
  }
}
// About Us Mega Menu
header .about-us {
  max-width: 725px;
  overflow: hidden;
  .menu-description {
    width: 100%;
    padding: 54px 36px 36px 36px;
    &::after {
      display: none;
    }
    .col {
      @include display-flex(flex);
      // @include justify-content(space-between);
      margin-bottom: 85px;
      padding: 0 40px;
      > div {
        width: 50%;
      }
      h4 {
        text-transform: capitalize;
        margin-bottom: 18px;
      }
      ul {
        a {
          display: block;
          line-height: 22px;
          color: #b4b4b4;
        }
      }
    }
    .about-us-bottom {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 182px;
      backdrop-filter: blur(20px);
      padding: 38px 94px 38px 68px;
      .contact-icon {
        margin-right: 43px;
        &:after {
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='139' height='141' viewBox='0 0 139 141' fill='none'%3E%3Cpath d='M119.375 49.9062H112.25C105.366 49.9062 99.7812 55.4908 99.7812 62.375V98C99.7812 104.884 105.366 110.469 112.25 110.469H119.375C130.199 110.469 138.969 101.699 138.969 90.875V69.5C138.969 58.6756 130.199 49.9062 119.375 49.9062ZM112.25 60.5938H119.375C124.297 60.5938 128.281 64.5781 128.281 69.5V90.875C128.281 95.797 124.297 99.7812 119.375 99.7812H112.25C111.268 99.7812 110.469 98.9818 110.469 98V62.375C110.469 61.3932 111.268 60.5938 112.25 60.5938Z' fill='%234A4A4A'/%3E%3Cpath d='M26.75 49.9062H19.625C8.8006 49.9062 0.03125 58.6756 0.03125 69.5V90.875C0.03125 101.699 8.8006 110.469 19.625 110.469H26.75C33.6342 110.469 39.2188 104.884 39.2188 98V62.375C39.2188 55.4908 33.6342 49.9062 26.75 49.9062ZM19.625 60.5938H26.75C27.7318 60.5938 28.5312 61.3932 28.5312 62.375V98C28.5312 98.9818 27.7318 99.7812 26.75 99.7812H19.625C14.7031 99.7812 10.7188 95.797 10.7188 90.875V69.5C10.7188 64.5781 14.7031 60.5938 19.625 60.5938Z' fill='%234A4A4A'/%3E%3Cpath d='M69.5 0.03125C97.4592 0.03125 120.229 22.2417 121.128 49.9823L121.156 51.6875V55.25C121.156 58.2012 118.764 60.5938 115.812 60.5938C113.107 60.5938 110.871 58.5834 110.517 55.9751L110.469 55.25V51.6875C110.469 29.06 92.1276 10.7188 69.5 10.7188C47.3988 10.7188 29.3867 28.2168 28.5608 50.1159L28.5312 51.6875V55.25C28.5312 58.2012 26.1387 60.5938 23.1875 60.5938C20.4821 60.5938 18.2464 58.5834 17.8926 55.9751L17.8438 55.25V51.6875C17.8438 23.1575 40.97 0.03125 69.5 0.03125Z' fill='%234A4A4A'/%3E%3Cpath d='M73.9531 112.25H65.0469C57.1794 112.25 50.7969 118.633 50.7969 126.5L50.8497 127.68C51.6065 135.192 57.7205 140.75 65.0469 140.75H73.9531C81.8206 140.75 88.2031 134.367 88.2031 126.5L88.1504 125.32C87.3937 117.808 81.2798 112.25 73.9531 112.25ZM65.0469 122.938H73.9531C75.7815 122.938 77.314 124.33 77.4971 126.13L77.5228 126.77C77.5156 128.465 75.9181 130.062 73.9531 130.062H65.0469C63.2185 130.062 61.6859 128.67 61.503 126.87L61.4775 126.23C61.4844 124.535 63.0819 122.938 65.0469 122.938Z' fill='%234A4A4A'/%3E%3Cpath d='M112.25 99.7812C114.955 99.7812 117.191 101.792 117.545 104.4L117.594 105.125V112.25C117.594 122.673 109.462 131.191 99.1941 131.808L98 131.844H82.8594C79.9082 131.844 77.5156 129.451 77.5156 126.5C77.5156 123.795 79.5263 121.559 82.1341 121.205L82.8594 121.156H98C102.614 121.156 106.405 117.654 106.861 113.161L106.906 112.25V105.125C106.906 102.174 109.299 99.7812 112.25 99.7812Z' fill='%234A4A4A'/%3E%3C/svg%3E");
          background-size: 100% 100%;
          width: 140px;
          height: 140px;
          display: block;
        }
      }
      p {
        color: #a8a8a8;
        line-height: 22px;
        strong {
          font-size: 18px;
          line-height: 14px;
          margin-bottom: 14px;
          display: block;
          color: $color-white;
        }
      }
    }
  }
}

.about-us-bottom {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 182px;
  backdrop-filter: blur(20px);
  padding: 38px 94px 38px 68px;
  @include mobile {
    margin-top: 20px;
    padding: 0 20px;
    padding-top: 34px;
    border-top: 1px solid #3a3a3a;
    border-radius: 0;
  }
  .contact-icon {
    margin-right: 43px;
    @include mobile {
      margin-left: 0;
      margin-right: 14px;
    }
    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='139' height='141' viewBox='0 0 139 141' fill='none'%3E%3Cpath d='M119.375 49.9062H112.25C105.366 49.9062 99.7812 55.4908 99.7812 62.375V98C99.7812 104.884 105.366 110.469 112.25 110.469H119.375C130.199 110.469 138.969 101.699 138.969 90.875V69.5C138.969 58.6756 130.199 49.9062 119.375 49.9062ZM112.25 60.5938H119.375C124.297 60.5938 128.281 64.5781 128.281 69.5V90.875C128.281 95.797 124.297 99.7812 119.375 99.7812H112.25C111.268 99.7812 110.469 98.9818 110.469 98V62.375C110.469 61.3932 111.268 60.5938 112.25 60.5938Z' fill='%234A4A4A'/%3E%3Cpath d='M26.75 49.9062H19.625C8.8006 49.9062 0.03125 58.6756 0.03125 69.5V90.875C0.03125 101.699 8.8006 110.469 19.625 110.469H26.75C33.6342 110.469 39.2188 104.884 39.2188 98V62.375C39.2188 55.4908 33.6342 49.9062 26.75 49.9062ZM19.625 60.5938H26.75C27.7318 60.5938 28.5312 61.3932 28.5312 62.375V98C28.5312 98.9818 27.7318 99.7812 26.75 99.7812H19.625C14.7031 99.7812 10.7188 95.797 10.7188 90.875V69.5C10.7188 64.5781 14.7031 60.5938 19.625 60.5938Z' fill='%234A4A4A'/%3E%3Cpath d='M69.5 0.03125C97.4592 0.03125 120.229 22.2417 121.128 49.9823L121.156 51.6875V55.25C121.156 58.2012 118.764 60.5938 115.812 60.5938C113.107 60.5938 110.871 58.5834 110.517 55.9751L110.469 55.25V51.6875C110.469 29.06 92.1276 10.7188 69.5 10.7188C47.3988 10.7188 29.3867 28.2168 28.5608 50.1159L28.5312 51.6875V55.25C28.5312 58.2012 26.1387 60.5938 23.1875 60.5938C20.4821 60.5938 18.2464 58.5834 17.8926 55.9751L17.8438 55.25V51.6875C17.8438 23.1575 40.97 0.03125 69.5 0.03125Z' fill='%234A4A4A'/%3E%3Cpath d='M73.9531 112.25H65.0469C57.1794 112.25 50.7969 118.633 50.7969 126.5L50.8497 127.68C51.6065 135.192 57.7205 140.75 65.0469 140.75H73.9531C81.8206 140.75 88.2031 134.367 88.2031 126.5L88.1504 125.32C87.3937 117.808 81.2798 112.25 73.9531 112.25ZM65.0469 122.938H73.9531C75.7815 122.938 77.314 124.33 77.4971 126.13L77.5228 126.77C77.5156 128.465 75.9181 130.062 73.9531 130.062H65.0469C63.2185 130.062 61.6859 128.67 61.503 126.87L61.4775 126.23C61.4844 124.535 63.0819 122.938 65.0469 122.938Z' fill='%234A4A4A'/%3E%3Cpath d='M112.25 99.7812C114.955 99.7812 117.191 101.792 117.545 104.4L117.594 105.125V112.25C117.594 122.673 109.462 131.191 99.1941 131.808L98 131.844H82.8594C79.9082 131.844 77.5156 129.451 77.5156 126.5C77.5156 123.795 79.5263 121.559 82.1341 121.205L82.8594 121.156H98C102.614 121.156 106.405 117.654 106.861 113.161L106.906 112.25V105.125C106.906 102.174 109.299 99.7812 112.25 99.7812Z' fill='%234A4A4A'/%3E%3C/svg%3E");
      background-size: 100% 100%;
      width: 140px;
      height: 140px;
      display: block;
      @include mobile {
        width: 69px;
        height: 71px;
      }
    }
  }
  p {
    color: #a8a8a8;
    line-height: 22px;
    @include mobile {
      margin-left: 0 !important;
    }
    strong {
      font-size: 18px;
      line-height: 14px;
      margin-bottom: 14px;
      display: block;
      color: $color-white;
    }
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slideout {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.close {
  .sub-categories {
    display: none;
    animation-duration: 3s;
    animation-name: slideout;
    animation-iteration-count: 1;
    right: 0;
    left: auto;
  }
}
.open {
  .sub-categories {
    display: block;
    animation-duration: 3s;
    animation-name: slideout;
    animation-iteration-count: 1;
  }
}
.sub-categories {
  position: absolute;
  background-color: $color-black;
  z-index: 9;
  top: 0;
  left: auto;
  // right: -100%;
  padding: 0 20px;
  position: absolute;
  left: 0;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  background-color: $color-black;
  height: 100vh;
  width: 100%;
  //display: none;
  .d-flex a {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 48px;
    h3 {
      margin-top: -10px;
      margin-bottom: 16px;
      padding-left: 12px;
    }
    p {
      padding-left: 12px;
    }
  }
  .sub-heading {
    font-size: 24px;
    line-height: 24px;
    font-family: $head-fonts;
    text-transform: uppercase;
  }
  .sub-category-image {
    max-height: 150px;
    width: 100%;
  }
  .sub-menu-open {
    position: absolute;
    left: 0;
    animation-duration: 3s;
    animation-name: slideout;
    animation-iteration-count: 1;
    background-color: $color-black;
  }
  button {
    padding: 14px 10px 20px !important;
    border-bottom: 1px solid #474747 !important;
    margin-bottom: 36px !important;
    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.25 6C0.25 5.58579 0.585786 5.25 1 5.25H15C15.4142 5.25 15.75 5.58579 15.75 6C15.75 6.41421 15.4142 6.75 15 6.75H1C0.585786 6.75 0.25 6.41421 0.25 6Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.53033 0.46967C6.82322 0.762563 6.82322 1.23744 6.53033 1.53033L1.53033 6.53033C1.23744 6.82322 0.762563 6.82322 0.46967 6.53033C0.176777 6.23744 0.176777 5.76256 0.46967 5.46967L5.46967 0.46967C5.76256 0.176777 6.23744 0.176777 6.53033 0.46967Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.46967 5.46967C0.762563 5.17678 1.23744 5.17678 1.53033 5.46967L6.53033 10.4697C6.82322 10.7626 6.82322 11.2374 6.53033 11.5303C6.23744 11.8232 5.76256 11.8232 5.46967 11.5303L0.46967 6.53033C0.176777 6.23744 0.176777 5.76256 0.46967 5.46967Z' fill='white'/%3E%3C/svg%3E%0A");
      width: 16px;
      height: 12px;
      background-size: 100% 100%;
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
}
