@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

.bannerCarousel {
    width: 100%;
    img {
        width: 100%;
    }
    video {
        width: 100%;
        object-fit: cover;
    }
}
.section2 {
    max-width: 643px;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    margin-right: 400px;
}
.block-quote {
    max-width: 644px;
    width: 100%;
    padding: 173px 0 0 0;
    position: relative;
    &:after {
        content: "";
        @include box-design(box);
        position: absolute;
        top: 0;
        right: 0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border: 1px solid $color-white;
        opacity: 0.5;
        @include tablet {
            right: 11px;
        }
    }
}

.cta-banner {
    @include display-flex(flex);
    @include align-item(center);
    @include flex-wrap(wrap);
    @include tablet {
        padding: 24px;
    }
    img {
        max-width: 1026px;
        @include tablet {
            width: 100%;
        }
    }
    .cta-content {
        margin-left: -68px;
        padding-left: 41px;
        max-width: 452px;
        @include tablet {
            width: 100%;
            margin: -10px auto 0;
            padding-left: 22px;
        }
    }
}