@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

.bannerCarousel {
    width: 100%;
    img {
        width: 100%;
    }
    video {
        width: 100%;
    }
}
.section2 {
    max-width: 643px;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    margin-right: 400px;
}