// sass-lint:disable border-zero, quotes
/* ========== media mixin ========== */
// @use 'sass:math';

@use 'sass:math';

@mixin rem {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: 1640px) and (max-width: 1900px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 1640px) {
    @content;
  }
}
@mixin desktop-small {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1279px) {
    @content;
  }
}

@mixin tablet-small {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin mobile-small {
  @media screen and (max-width: 666px) {
    @content;
  }
}

/* ========== common mixin ========== */

@mixin col {
  padding-left: 15px;
  padding-right: 15px;
}
@mixin row {
  margin-left: -15px;
  margin-right: -15px;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  transition: $trans;
}

@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

@mixin flex-basis($flex-basis) {
  -webkit-flex-basis: ($flex-basis);
  flex-basis: ($flex-basis);
}

@mixin display-flex($flex) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: $flex;
}

@mixin align-item($align-item) {
  -webkit-box-align: $align-item;
  -moz-box-align: $align-item;
  -ms-flex-align: $align-item;
  -webkit-align-items: $align-item;
  align-items: $align-item;
}

@mixin align-self($align-self) {
  -webkit-align-self: $align-self;
  align-self: $align-self;
}

@mixin justify-content($justify-content) {
  -webkit-justify-content: $justify-content;
  justify-content: $justify-content;
}

@mixin flex-wrap($flex-wrap) {
  flex-wrap: $flex-wrap;
  -webkit-flex-wrap: $flex-wrap;
}

@mixin flex-direction($flex-direction) {
  flex-direction: $flex-direction;
  -webkit-flex-direction: $flex-direction;
}

@mixin text-shadow($text-shadow) {
  text-shadow: 0px 0px 123.655px #ffffff, 0px 0px 70.6601px #ffffff, 0px 0px 41.2184px #ffffff,
    0px 0px 20.6092px #ffffff, 0px 0px 5.88834px #ffffff, 0px 0px 2.94417px #ffffff;
}

@mixin box-shadow($box-shadow) {
  &:after {
    content: '';
    // @include box-design(box);
    position: absolute;
    top: 100%;
    right: 71px;
    // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    // border: 1px solid $color-white;
    opacity: 0.2;
    border-width: 1px;
    border-style: solid;
    // border-image: linear-gradient(to bottom, white 41%, rgba(0, 0, 0, 0)) 1;
    border-image: linear-gradient( to bottom, $color-white 61% , $color-black 0) 1 1 0 1;
    // width: 345px;
    // height: 1519px;
    width: 17.969vw;
    height: 79.115vw;
    z-index: 1;

    @include tablet {
      width: 275px;
      height: 609px;
    }
    @include tablet-small {
      width: 200px;
    }
    @include mobile-small {
      width: 160px;
    }
  }
}
@mixin flex($flex) {
    @include display-flex(flex);
    @include align-item(center);
    @include justify-content(center);
}
@mixin flex-col($flex-col) {
  @include display-flex(flex);
  @include flex-direction(column);
  @include align-item(center);
  @include justify-content(center);
}

@mixin m-0($m-o) {
  margin: 0;
}
@mixin m-280($m-280) {
  max-width: 15.583vw;
  @include desktop {
    max-width: 40.902vw;
  }
  @include mobile-small {
    max-width: 200px;
  }
}
@mixin m-440($m-440) {
  max-width: 22.917vw;
  @include tablet() {
    max-width: 340px;
  }
  @include mobile-small {
    max-width: 300px;
  }
}