.product-grid {
  @include display-flex(flex);
  @include flex-wrap(wrap);
  margin: 0 -16px;
  @include mobile-small {
    margin: 0;
  }
  .product-card {
    padding: 0 8px;
    position: relative;
    width: 33.33%;
    // height: 535px;
    // height: 31.615vw;
    // margin-bottom: 130px;
    margin-bottom: 6.771vw;
    // overflow: hidden;
    @include tablet {
      padding: 0 8px;
    }
    @include mobile-small {
      width: 100%;
      margin-bottom: 66px;
      padding: 0;
    }
  }
  .product-content {
    // position: absolute;
    position: relative;
    padding: 46px 25px 0 56px;
    z-index: 0;
    right: 0;
    @include tablet {
      padding: 26px 24px 0;
    }
    @include mobile-small {
      padding: 18px 18px 0;
    }
  }
  .bg-img {
    background-size: 100% 100%;
    // height: 535px;
    height: 27.865vw;
    @include xl {
      height: 30.865vw;
    }
    @include desktop {
      height: 33.865vw;
    }
    @include tablet {
      height: 37.865vw;
    }
    @include mobile-small {
      height: 333px;
    }
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(20px);
    }
  }
  h3 {
    margin-bottom: 16px;
  }
  .newProduct {
    position: absolute;
    top: 16px;
    right: 22px;
    p {
      font-size: 16px;
      line-height: 16px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 40px;
      padding: 14px 32px;
    }
  }
  .product-desc {
    margin-bottom: 26px;
    @include tablet {
      margin-bottom: 10px;
    }
  }
  .productCardImage {
    max-height: 464px;
    // max-width: 416px;
    margin-left: auto;
    position: relative;
    z-index: -1;
    img {
      margin-top: -32px;
      margin-left: auto;
      @include mobile-small {
        object-fit: contain;
        height: 100%;
        margin-top: -80px;
        max-height: 277px;
      }
    }
  }
  .btn-2 {
    // display: inline-block;
    margin-top: 16px;
  }
}
.layout5 {
  position: relative;
  padding-bottom: 140px;
  img {
    min-height: 57.344vw;
    @include mobile-small {
      min-height: 515px;
    }
  }
  @include tablet {
    padding-bottom: 95px;
  }
  .container-2 {
    padding: 0;
    margin: 0;
    max-width: none;
  }
  .layoutDesc {
    position: absolute;
    left: 78px;
    bottom: 182px;
    max-width: 474px;
    @include tablet {
      bottom: 80px;
      left: 40px;
    }
    @include mobile-small {
      position: relative;
      margin-top: 20px;
      top: 0;
      right: 0;
      max-width: 320px;
    }
    p {
      margin-bottom: 0;
    }
  }
}
.container-2 {
  .product-grid {
    .product-card {
      .product-content {
        position: absolute;
      }
    }
  }
}
.textWithDesription {
  padding-bottom: 83px;
  @include mobile-small {
    padding-top: 63px;
    padding-bottom: 76px;
  }
  p {
    margin-bottom: 0;
  }
}
.whiteTheme {
  background-color: $color-white;
  .textWithDesription {
    h2,
    p {
      color: $color-black;
    }
  }
  .product-grid {
    p {
      color: $color-black;
    }
    a {
      color: $color-black;
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.208984 5.62915C0.208984 5.23548 0.528116 4.91635 0.921784 4.91635H14.038C14.4317 4.91635 14.7508 5.23548 14.7508 5.62915C14.7508 6.02282 14.4317 6.34195 14.038 6.34195H0.921784C0.528116 6.34195 0.208984 6.02282 0.208984 5.62915Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.27379 0.331865C8.5395 0.0413995 8.99037 0.0213365 9.28084 0.287053L14.5632 5.11934C14.7108 5.25438 14.7949 5.44522 14.7949 5.64528C14.7949 5.84533 14.7108 6.03618 14.5632 6.17121L9.28084 11.0035C8.99037 11.2692 8.5395 11.2492 8.27378 10.9587C8.00807 10.6682 8.02813 10.2174 8.3186 9.95164L13.0261 5.64528L8.3186 1.33892C8.02813 1.0732 8.00807 0.62233 8.27379 0.331865Z' fill='black'/%3E%3C/svg%3E%0A");
      }
    }
  }
}
#whiteTheme {
  &.layout5 {
    background-color: $color-white;
    h3 {
      color: $color-black;
    }
    p {
      color: $color-black;
    }
  }
}
