/* ========== GLOBAL VAARIABLE ========== */

$body-font-size: 14px;

$body-font-color: #000000;
$heading-fonts: 'Arimo', sans-serif;
$body-fonts: 'Inconsolata', monospace;
$head-fonts: 'Ramabhadra', sans-serif;

$theme-grey-font-color: #666666;
$red: #ff0000;

$semi-bold: 500;
$bold: 600;

/* ========== LINK ========== */

$theme-link: #474747;
$theme-link-hover: #666666;
$theme-link-dark: #999999;

/* ========== LIGHTEN AND DARKEN MODE ========== */

$color-black: #000000;
$color-white: #ffffff;

$theme-border-color: #dddddd;

$theme-dark-bg: #181818;
$theme-grey-bg: #f2f2f2;
$theme-light-grey-bg: #F6F6F6;
$theme-dark-bg-shade: #222222;

/* ========== FORM ========== */

$form-label-size: 12px;
$form-font-size: 14px;
$form-line-height: 18px;
$textarea-line-height: 24px;
$form-border: #000000;

$form-input-padding: 14px 20px;

$button-padding: 16px 30px;
$button-padding-small: 6px 16px;
$button-padding-large: 20px 60px;

/* ========== HEADING ========== */

$heading-color: #000000;
$heading-margin: 15px;
